Title: Brad Weslake &bull; Philosophy of Biology
Categories: teaching/2014
Template: class
Summary: An introduction to philosophy of biology focussing on issues connected with the nature and scope of biological explanations.

- bib = Nesta::Plugin::Maldini::Bibliography.new('content/attachments/biology.bib')

%heading
  %h1 Philosophy of Biology

:markdown

  ## Fall 2014

  <p align="center"><img width="100%" src="https://s3.amazonaws.com/bweslake/images/darwin_diagram.png" alt="Charles Darwin, Diagram of Divergence of Taxa"></p>
  <blockquote class="caption">Part of Darwin's &ldquo;Diagram of Divergence of Taxa&rdquo;, the only diagram in <em>On The Origin of Species</em>.  The diagram depicts &ldquo;hypothetical phylogenetic relationships, showing how lineages diverge from common ancestors and give rise to both extinct and extant species. Time intervals (between Roman numerals) represent thousands of generations. [...] Distance along the horizontal axis represents degree of divergence (as, for example, in body form). Darwin recognized that rates of evolution vary greatly, showing this by different angles in the diagram&rdquo; (Futuyma, 2009, p. 21).  Note too that the diagram displays <a href="http://dx.doi.org/10.1038/nature07894">Darwin's recognition</a> that it is the most divergent species that are most likely to survive.  For the full diagram see <a href="http://darwin-online.org.uk/content/frameset?viewtype=image&amp;itemID=F373&amp;pageseq=133">here</a>.</blockquote>

  ### Details

  <table class="names">
  <thead>
  <tr><th>Course Codes</th><th>Location</th><th> Times</th></tr>
  </thead>
  <tbody>
  <tr><td>PHIL-UA 91</td><td><a href="http://goo.gl/MgnWnj">Tisch Hall</a> LC4</td><td>Mondays and Wednesdays, 3:30pm to 4:45pm</td></tr>
  </tbody>
  </table>

  ### Instructor

  <table class="names">
  <thead>
  <tr><th>Name</th><th>Email</th><th>Office</th><th>Consultation Times</th></tr>
  </thead>
  <tbody>
  <tr><td>Brad Weslake</td><td><a href="mailto:brad.weslake@nyu.edu">brad.weslake@nyu.edu</a></td><td>5 Washington Place, 506</td><td>By appointment</td></tr>
  </tbody>
  </table>

  ### Overview
  This class is an introduction to philosophy of biology focussing on issues connected with the nature and scope of biological explanations.  We first examine a set of foundational questions concerning the nature and scope of the explanations provided by natural selection.  We then examine the explanatory role of genes in development.  No prior philosophy of science or biology will be assumed.

  ### Textbooks
  The following textbook is mandatory (and is in the [bookstore](http://goo.gl/23Jatc)):

  > - #{bib.fullcite('godfrey-smith_2009b')}. \[[AddAll](http://goo.gl/Dw3tv7)\] \[[Chapters 1-2](http://goo.gl/rwJ3Yl)\]

  The following textbooks are optional:
  
  > - #{bib.fullcite('sober_1998')}. \[[AddAll](http://goo.gl/eKZJMV)\]
  > - #{bib.fullcite('okasha_2006')}. \[[AddAll](http://goo.gl/XypMhq)\]

  For those without any background in evolutionary biology, the definitive textbooks are:

  > - #{bib.fullcite('futuyma_2009')}. \[[AddAll](http://goo.gl/BKNcgt)\]  
  - #{bib.fullcite('ridley_2004')}. \[[AddAll](http://goo.gl/kIjuhg)\]

  ### Assessment

  <p>Requirements:</p>
  <ul class="assess">
  <li>Fifteen 1&ndash;2 page weekly reading summaries.</li>
  <li>Two 8&ndash;10 page research papers. </li>
  </ul>

  <p>The final grade will be determined approximately as follows:</p>
  <table class="assess">
  <tbody>
  <tr><td>Reading Summaries: </td><td>15% </td></tr>
  <tr><td>First Research Paper: </td><td>35% </td></tr>
  <tr><td>Second Research Paper: </td><td>50% </td></tr>
  </tbody>
  </table>

  <p>Due dates:</p>
  <table class="assess">
  <tbody>
  <tr><td>Reading Summaries:  </td><td>At each associated class, <em>with no exceptions</em></td></tr>
  <tr><td>First Paper:  </td><td>Friday 7 November</td><td>Questions <span class="small">TBA</span></td></tr>
  <tr><td>Second Paper:  </td><td>Friday 12 December</td><td>Questions <span class="small">TBA</span></td></tr>
  </tbody>
  </table>

  ### Schedule

  #### Meeting One: Introductory Discussion (Wednesday 3 September)
  ##### Secondary
  - #{bib.textcite('godfrey-smith_2009b', '§1')}.

  ### Section I: Natural Selection

  #### Meeting Two: The Propensity Interpretation of Fitness (Monday 8 September)
  ##### Primary
  - #{bib.textcite('godfrey-smith_2009b', '§2.1')}.
  - #{bib.fullcite('mills_1979')}.
  - #{bib.fullcite('sober_2014', '§1')}.
  
  #### Meeting Three: Problems for The Propensity Interpretation (Wednesday 10 September)
  ##### Primary
  - #{bib.fullcite('sober_2000a')}.
  - #{bib.fullcite('sober_2014', '§2')}.
  - #{bib.textcite('godfrey-smith_2009b', '§§2.2–2.3')}.
  ##### Secondary
  - #{bib.fullcite('orr_2009a')}.
  
  #### Meeting Four: Selection Of and Selection For (Monday 15 September)
  ##### Primary
  - #{bib.fullcite('sober_1984b')}, §3.2. URI: <http://goo.gl/Xy123Q>
  - #{bib.fullcite('fodor_2008')}.
  ##### Secondary
  - #{bib.fullcite('sober_2010')}.

  #### Meeting Five: Selection Of and Selection For, *continued* (Wednesday 17 September)

  #### Meeting Six: Replicators and Interactors (Monday 22 September)
  ##### Primary
  - #{bib.fullcite('sterelny_1999a')}.
  - #{bib.textcite('godfrey-smith_2009b', '§§2.4–2.6')}.
  ##### Secondary
  - #{bib.fullcite('dawkins_1982a')}.

  #### Meeting Seven: What Can Selection Explain? (Wednesday 24 September)
  ##### Primary
  - #{bib.fullcite('forber_2005')}.
  - #{bib.textcite('godfrey-smith_2009b', '§§3.1–3.3')}.
  ##### Secondary
  - #{bib.fullcite('dawkins_1986', 'Chapter 7')}. URI: <http://goo.gl/GJVvsQ>

  #### Meeting Eight: Selection and Drift as Forces (Monday 29 September)
  ##### Primary
  - #{bib.fullcite('sober_1984b', 'Chapter 1')}. URI: <http://goo.gl/K0Hxf1>

  #### Meeting Nine: Selection and Drift as Trends (Wednesday 1 October)
  ##### Primary
  - #{bib.fullcite('matthen_2002')}.

  #### Meeting Ten: Selection and Drift as Causes (Monday 6 October)
  ##### Primary
  - #{bib.fullcite('stephens_2004')}.
  - #{bib.textcite('godfrey-smith_2009b', '§§3.4–3.6')}.
  ##### Secondary
  - #{bib.fullcite('hitchcock_2014')}.

  ### Section II: Individuals, Collectives, Levels and Transitions

  #### Meeting Eleven: Individuals and Reproduction (Wednesday 8 October)
  ##### Primary
  - #{bib.fullcite('janzen_1977')}.
  - #{bib.textcite('godfrey-smith_2009b', '§4')}.
  ##### Secondary
  - #{bib.fullcite('griesemer_2001')}.
  - #{bib.fullcite('griesemer_2005')}.
  
  *No Class Monday 13 October*

  #### Meeting Twelve: Individuals and Collectives (Wednesday 15 October)
  ##### Primary
  - #{bib.textcite('godfrey-smith_2009b', '§5')}.
  ##### Secondary
  - #{bib.fullcite('hamilton_2009')}. URI: <http://goo.gl/wiUyfF>
  - #{bib.fullcite('wilson_1989a')}.

  #### Meeting Thirteen: Altruism and Group Selection: Theory (Monday 20 October)
  ##### Primary
  - #{bib.fullcite('sober_1998', 'pp. 17–35')}. URI: <http://goo.gl/9n0ndD>
  ##### Secondary
  - #{bib.fullcite('okasha_2004b')}.
    
  *No Class Wednesday 22 October*
  
  #### Meeting Fourteen: Altruism and Group Selection: Examples (Monday 27 October)
  ##### Primary
  - #{bib.fullcite('sober_1998', 'pp. 35–54')}.

  #### Meeting Fifteen: Two Kinds of Group Selection (Wednesday 29 October)
  ##### Primary
  - #{bib.fullcite('okasha_2006', '§§2.1–2.2')}. URI: <http://goo.gl/dtLfWR>
  ##### Secondary
  - #{bib.fullcite('damuth_1988')}.

  #### Meeting Sixteen: Darwinian Populations and Levels of Selection (Monday 3 November)
  ##### Primary
  - #{bib.textcite('godfrey-smith_2009b', '§§6.1–6.2')}.

  #### Meeting Seventeen: The Major Evolutionary Transitions (Wednesday 5 November)
  ##### Primary
  - #{bib.textcite('godfrey-smith_2009b', '§6.3')}.
  - #{bib.fullcite('kuzdzal-fick_2011')}.
  - #{bib.fullcite('queller_2013')}.

  *No Class Monday 10 November*

  #### Meeting Eighteen: Levels of Selection and The Major Evolutionary Transitions (Wednesday 12 November)
  ##### Primary
  - #{bib.fullcite('okasha_2006', '§8')}. URI: <http://goo.gl/UKUe4D>

  ### Section III: Development

  #### Meeting Nineteen: (Monday 17 November)

  *No Class Wednesday 19 November*

  #### Meeting Twenty: (Monday 24 November)

  #### Meeting Twenty One: (Wednesday 26 November)

  #### Meeting Twenty Two: (Monday 1 December)

  #### Meeting Twenty Three: (Wednesday 3 December)

  #### Meeting Twenty Four: (Monday 8 December)

  #### Meeting Twenty Five: (Wednesday 10 December)    

  *Updated*: 22 September 2014