Title: Brad Weslake &bull; Philosophy of Biology Reading Group
Categories: teaching/2014
Template: class
Summary: A reading course on philosophy of biology.

- bib = Nesta::Plugin::Maldini::Bibliography.new('content/attachments/biology.bib')

%heading
  %h1 Philosophy of Biology Reading Group

:markdown
  ## Spring 2014 ##

  <p align="center"><img width="400" src="http://bweslake.s3.amazonaws.com/images/godfrey-smith-bees.png" alt="From Peter Godfrey-Smith, Darwinian Populations and Natural Selection">

  <blockquote class="caption">From Peter Godfrey-Smith, <em>Darwinian Populations and Natural Selection</em>, Oxford University Press, Oxford, 2009, p. 98.</blockquote></p>

  <a name="overview"> </a>

  ### Overview
  This is a graduate reading course on philosophy of biology.  Please [contact me](mailto:bradley.weslake@rochester.edu?subject=Biology%20Reading%20Course) if you would like to participate.  Independent study forms can now be filled out [online][is].  The reading list will evolve as the course progresses. A BibTeX file containing all the references below can be found [here][bibtex]. Unless otherwise advertised, we meet in the Lewis White Beck Memorial Library at 4:40pm&ndash;5:40pm.

  ### Schedule

  #### Thursday 30 January
  
  - #{bib.fullcite('millstein_2013')}. URI: <http://philsci-archive.pitt.edu/9225/>

  #### Thursday 6 February

  - #{bib.fullcite('stegmann_2010')}.

  #### Thursday 13 February

  - #{bib.fullcite('strevens_2014')} §§1–2.

  *No meetings on Thursday 20 February and Thursday 27 February*

  #### Thursday 6 March

  - #{bib.fullcite('strevens_2014')} §§3–4.

  *No meeting Thursday 13 March*

  #### Thursday 20 March

  Strevens continued.

  #### Thursday 27 March

  - #{bib.fullcite('okasha_2004b')}.

  *No meeting Thursday 3 April*

  #### Thursday 10 April

  - #{bib.fullcite('west_2007')}.

  [is]: https://secure1.rochester.edu/registrar/forms/independent_study.php "Independent Study Form"
  [bibtex]: /content/attachments/biology.bib