Title: Brad Weslake &bull; Philosophy of Mind Reading Group
Categories: teaching/2014
Template: class
Summary: A reading course on philosophy of mind.

- bib = Nesta::Plugin::Maldini::Bibliography.new('content/attachments/mind.bib')

%heading
  %h1 Philosophy of Mind Reading Group

:markdown
  ## Spring 2014 ##

  <p align="center"><img width="400" src="https://bweslake.s3.amazonaws.com/images/descartes_apple.png" alt="From Descarte's The World">

  <blockquote class="caption">Descartes explains how the eyes can focus on a nearby object. From Stephen Gaukroger (Ed), <em>The World and Other Writings</em>, Cambridge University Press, Cambridge, 2004, p. 158.</blockquote></p>

  <a name="overview"> </a>

  ### Overview
  This is a graduate reading course on philosophy of mind.  Please [contact me](mailto:bradley.weslake@rochester.edu?subject=Mind%20Reading%20Course) if you would like to participate.  Independent study forms can now be filled out [online][is].  The reading list will evolve as the course progresses. A BibTeX file containing all the references below can be found [here][bibtex]. Unless otherwise advertised, we meet in the Lewis White Beck Memorial Library at 11am&ndash;12pm.

  ### Schedule

  #### Friday 24 January
  
  - #{bib.fullcite('chalmers_1995b')}
  - #{bib.fullcite('chalmers_2010a')}

  #### Friday 31 January
  
  - #{bib.fullcite('chalmers_2002a')}

  #### Friday 7 February

  - #{bib.fullcite('chalmers_2010b', '§§1–5')}.

  #### Friday 14 February, 11:30am&ndash;12:30pm

  - #{bib.fullcite('chalmers_2010b', '§§6–10')}.

  #### Friday 21 February

  - #{bib.fullcite('block_1999a')}.

  *No meetings on Friday 28 February, Friday 7 March and Friday 14 March*
  
  #### Friday 21 March

  - #{bib.fullcite('chalmers_2001')}. *Note*: Read the version in *The Character of Consciousness*.

  #### Friday 28 March

  - #{bib.fullcite('chalmers_2001')}. *Note*: We'll focus on the final part of the paper, beginning with the passage starting “(5) *Methodology and simplicity*” (p. 234).

  *No meetings on Friday 4 April and Friday 11 April*

  #### Friday 18 April

  - #{bib.fullcite('chalmers_2010c')}.

  #### Friday 25 April

  - #{bib.fullcite('chalmers_2007')}.

  [is]: https://secure1.rochester.edu/registrar/forms/independent_study.php "Independent Study Form"
  [bibtex]: /content/attachments/mind.bib