Title: Brad Weslake &bull; Philosophy of Mind
Categories: teaching/2014
Template: class
Summary: An overview of the recent history of philosophy of mind, focusing on the relationship between the mind and the physical world.

- bib = Nesta::Plugin::Maldini::Bibliography.new('content/attachments/mind.bib')

%heading
  %h1 Philosophy of Mind

:markdown

  ## Spring 2014

  <p align="center"><img width="400" src="http://bweslake.s3.amazonaws.com/images/descartes_apple.png" alt="From Descarte's The World">

  <blockquote class="caption">Descartes explains how the eyes can focus on a nearby object. From Stephen Gaukroger (Ed), <em>The World and Other Writings</em>, Cambridge University Press, Cambridge, 2004, p. 158.</blockquote></p>

  <p><a href="#details">Details</a> | <a href="#instructor">Instructor</a> | <a href="#overview">Overview</a> | <a href ="#textbook">Textbook</a> | <a href ="#assessment">Assessment</a> | <a href ="#schedule">Schedule</a></p>

  ### Details

  <table class="names">
  <thead>
  <tr><th>Course Codes</th><th>Location</th><th> Times</th></tr>
  </thead>
  <tbody>
  <tr><td>PHL 244, PHL 244W, PHL 444</td><td><a href="http://goo.gl/AvbASj">Dewey Hall</a> 2110D</td><td>Tuesdays and Thursdays, 12:30pm to 1:45pm</td></tr>
  </tbody>
  </table>

  ### Instructor

  <table class="names">
  <thead>
  <tr><th>Name</th><th>Email</th><th>Office</th><th>Consultation Times</th></tr>
  </thead>
  <tbody>
  <tr><td>Brad Weslake</td><td><a href="mailto:bradley.weslake@rochester.edu">bradley.weslake@rochester.edu</a></td><td>520 Lattimore</td><td>Wednesdays 11am&ndash;12pm, or by appointment</td></tr>
  </tbody>
  </table>

  ### Overview
  This course is an overview of the recent history of philosophy of mind, focusing on the relationship between the mind and the physical world.  The aim is to trace through some of the central debates in this history, and to assess where we stand today.  Topics covered include the question of how to formulate physicalism about the mind; an examination of behaviourism, the identity theory, and functionalist theories of the mind; the prospects for integrating consciousness and mental content within a physicalist worldview; and the problem of mental causation.  The course may be taken for upper level writing credit.

  ### Textbook

  - #{bib.fullcite('kim_2010a')}. \[[AddAll](http://goo.gl/79pGK1)\] \[[Chapter 1](http://goo.gl/otZ9Ee)\] \[[Chapter 2](http://goo.gl/zmZuy5)\]  
  > The textbook will not be available in the campus bookstore.  Note that the 3<sup>rd</sup> Edition is required&mdash;make sure you do not buy the 1<sup>st</sup> or 2<sup>nd</sup> Editions.</blockquote>

  ### Assessment

  <p>Requirements:</p>
  <ul class="assess">
  <li>Fifteen 1&ndash;2 page weekly reading summaries.</li>
  <li>Two 8&ndash;10 page research papers. </li>
  </ul>

  <p>The final grade will be determined approximately as follows:</p>
  <table class="assess">
  <tbody>
  <tr><td>Reading Summaries: </td><td>15% </td></tr>
  <tr><td>First Research Paper: </td><td>35% </td></tr>
  <tr><td>Second Research Paper: </td><td>50% </td></tr>
  </tbody>
  </table>

  <p><em>Note</em>: Graduate students or students enrolled for upper level writing credit will be required to write longer papers. Graduate students will also be required to do additional reading and meet for an additional discussion section.</p>

  <p>Due dates:</p>
  <table class="assess">
  <tbody>
  <tr><td>Reading Summaries:  </td><td>At each associated class, <em>with no exceptions</em></td></tr>
  <tr><td>First Paper:  </td><td>Thursday 6 March</td><td>Questions <span class="small">[<a href="http://goo.gl/QbfMcN">PDF</a>]</span></td></tr>
  <tr><td>Second Paper:  </td><td>Tuesday 29 April</td><td>Questions <span class="small">[<em>coming</em>]</span></td></tr>
  </tbody>
  </table>

  <p>Paper guidelines <span class="small  ">[<a href="http://bweslake.s3.amazonaws.com/teaching/resources/guidelines.pdf">PDF</a>]</span></p>

  ### Schedule

  #### Meeting One: Introductory Discussion (Thursday 16 January)

  ##### Secondary
  - #{bib.fullcite('lycan_2003')}.

  #### Meeting Two: The Mark of The Mental (Tuesday 21 January)
  ##### Primary
  - Kim (2010, Chapter 1). URI: <http://goo.gl/otZ9Ee>
  ##### Secondary
  - #{bib.fullcite('schwitzgebel_2008')}.
  - #{bib.fullcite('crane_1998')}.

  #### Meeting Three: Defining Physicalism (Thursday 23 January)
  ##### Primary
  - #{bib.fullcite('ney_2008b')}.
  ##### Secondary
  - #{bib.fullcite('stoljar_2009')}, §§1–12.

  #### Meeting Four: Epistemological Arguments for Dualism (Tuesday 28 January)
  ##### Primary
  - Kim (2010, Chapter 2, pp. 31–45). URI: <http://goo.gl/zmZuy5>

  #### Meeting Five: Causal Arguments against Dualism (Thursday 30 January)
  ##### Primary
  - Kim (2010, Chapter 2, pp. 46–57). URI: <http://goo.gl/zmZuy5>
  ##### Secondary
  - #{bib.fullcite('garber_1983')}.
  
  *No Class Tuesday 4 February*

  #### Meeting Six: Behaviourism (Thursday 6 February)
  ##### Primary
  - Kim (2010, Chapter 3).

  #### Meeting Seven: Simplicity Arguments for The Identity Theory (Tuesday 11 February)
  ##### Primary
  - Kim (2010, Chapter 4, pp. 91–102).
  - #{bib.fullcite('smart_1959')}.

  #### Meeting Eight: Causal Arguments for The Identity Theory (Thursday 13 February)
  ##### Primary
  - Kim (2010, Chapter 4, pp. 102–114).
  - #{bib.fullcite('lewis_1966')}.

  #### Meeting Nine: Multiple Realisation Arguments Against The Identity Theory (Tuesday 18 February)
  ##### Primary
  - Kim (2010, Chapter 4, pp. 114–127).
  - #{bib.fullcite('putnam_1967a')}. Reprinted as “The Nature of Mental States”. URI: <http://goo.gl/dgzEw6>
  ##### Secondary
  - #{bib.fullcite('lewis_1980')}. URI: <http://goo.gl/4d6Xqv>

  #### Meeting Ten: Machine Functionalism (Thursday 20 February)
  ##### Primary
  - Kim (2010, Chapter 5, pp. 129–156).
  ##### Secondary
  - #{bib.fullcite('piccinini_2010')}.

  #### Meeting Eleven: The Chinese Room (Tuesday 25 February)
  ##### Primary
  - Kim (2010, Chapter 5, pp. 156–165).
  - #{bib.fullcite('searle_1980')}.
  
  *No Class Thursday 27 February*

  #### Meeting Twelve: More on Functionalism and The Chinese Room (Tuesday 4 March)
  ##### Primary
  - Kim (2010, Chapter 6).

  #### Meeting Thirteen: Functionalism and Mental Causation (Thursday 6 March)
  ##### Primary
  - #{bib.fullcite('block_1990')}. URI: <http://goo.gl/23EE5M>
  ##### Secondary
  - #{bib.fullcite('rescorla_2011')}.

  *No Class Tuesday 11 March and Thursday 13 March*

  #### Meeting Fourteen: Anomalous Monism (Tuesday 18 March)
  ##### Primary
  - Kim (2010, Chapter 7, pp. 193–213).
  ##### Secondary
  - #{bib.fullcite('woodward_2003e')}.

  #### Meeting Fifteen: The Exclusion Argument (Thursday 20 March)
  ##### Primary
  - Kim (2010, Chapter 7, pp. 214–219).
  ##### Secondary
  - #{bib.fullcite('bennett_2003')}.

  #### Meeting Sixteen: More on The Exclusion Argument (Tuesday 25 March)
  ##### Primary
  - Kim (2010, Chapter 7, pp. 220–223).

  #### Meeting Seventeen: Theories of Content (Thursday 27 March)
  ##### Primary
  - Kim (2010, Chapter 8, pp. 227–241).

  #### Meeting Eighteen: Content Externalism (Tuesday 1 April)
  ##### Primary
  - Kim (2010, Chapter 8, pp. 241–254).
  ##### Secondary
  - #{bib.fullcite('putnam_1975')}. URI: <http://goo.gl/7sU85k>

  #### Meeting Nineteen: Content Externalism and Mental Causation Thursday 3 April)
  ##### Primary
  - Kim (2010, Chapter 8, pp. 254–258).

  #### Meeting Twenty: Science and Consciousness (Tuesday 8 April)
  ##### Primary
  - Kim (2010, Chapter 9, pp. 263–266).
  ##### Secondary
  - #{bib.fullcite('dennett_1988a')}. URI: <http://goo.gl/E9FYXq>
  
  #### Meeting Twenty One: What Is It Like to be a Bat? (Thursday 10 April)
  ##### Primary
  - Kim (2010, Chapter 9, pp. 267–270).
  - #{bib.fullcite('nagel_1974')}.

  #### Meeting Twenty Two: Can Science Tell Us What It Is Like to be a Bat? (Tuesday 15 April)
  ##### Primary
  - #{bib.fullcite('akins_1993a')}. URI: <http://goo.gl/hcXUoc>

  #### Meeting Twenty Three: Two Kinds of Consciousness (Thursday 17 April)
  ##### Primary
  - Kim (2010, Chapter 9, pp. 271-282).
  ##### Secondary
  - #{bib.fullcite('block_1995b')}.

  *Updated*: 5 April 2014