Title: Brad Weslake &bull; Philosophy of Science
Categories: teaching/2014
Template: class
Summary: An advanced introduction to philosophy of science.

- bib = Nesta::Plugin::Maldini::Bibliography.new('content/attachments/science.bib')

%heading
  %h1 Advanced Introduction to Philosophy of Science

:markdown

  ## Fall 2014

  <p align="center"><br/><img width="70%" src="http://bweslake.s3.amazonaws.com/images/faraday.png" alt="From Michael Faraday, Experimental Researches in Electricity">

  <blockquote class="caption">Michael Faraday's diagram of magnetic lines of force, from his &ldquo;Experimental Researches in Electricity&rdquo;, <em>Philosophical Transactions of the Royal Society of London</em>, Vol. 142, 1 January 1852, pp. 25&ndash;56.</blockquote></p>

  <a name="details"> </a>
  <h3>Details</h3>
  <table class="names">
  <thead>
  <tr><th>Course Code</th><th>Location</th><th> Times</th></tr>
  </thead>
  <tbody>
  <tr><td>PHIL-GA 1104</td><td><a href="http://goo.gl/j02G4q">5 Washington Place</a> 202</td><td>Fridays, 11:00am to 1:00pm</td></tr>
  </tbody>
  </table>

  <a name="instructor"> </a>
  <h3>Instructor</h3>
  <table class="names">
  <thead>
  <tr><th>Name</th><th>Email</th></tr>
  </thead>
  <tbody>
  <tr><td>Brad Weslake</td><td><a href="mailto:brad.weslake@nyu.edu">brad.weslake@nyu.edu</a></td></tr>
  </tbody>
  </table>

  <a name="overview"> </a>
  <h3>Overview</h3>
  <p>The course will cover three central topics in general philosophy of science: explanation, laws and causation. Topics may include: causal and non-causal theories of explanation; whether there are non-causal explanations of particular facts; the relationship between fundamental and non-fundamental explanations; theories of explanatory depth; whether fundamental laws have universal scope; Humean and non-Humean theories of laws; regularity and counterfactual theories of causation; causal models and their limitations; and causal exclusion principles.</p>

  <a name="assessment"> </a>
  <h3>Assessment</h3>
  <p>Requirements:</p>
  <ul class="assess">
  <li>Twelve 1&ndash;2 page weekly reading summaries.</li>
  <li>One research paper. </li>
  </ul>

  <p>Due dates:</p>
  <table class="assess">
  <tbody>
  <tr><td>Reading Summaries: </td><td>At each associated class.</td></tr>
  <tr><td>Research Paper:  </td><td>Monday 15 December</td></tr>
  </tbody>
  </table>

  ### Schedule

  #### Meeting One: Introductory Discussion (Friday 5 September)

  ### Section I: Explanation

  #### Meeting Two: Nomological Theories of Explanation (Friday 12 September)

  - #{bib.fullcite('hempel_1965b')}. URI: <http://goo.gl/UqV54C> (Read §§1–2)
  - #{bib.fullcite('woodward_2003e')}. URI: <http://goo.gl/qaAneX>

  #### Meeting Three: Causal Theories of Explanation (Friday 19 September)

  - #{bib.fullcite('lewis_1986')}. URI: <http://goo.gl/kavvu3>
  - #{bib.fullcite('sober_1983')}.
  - #{bib.fullcite('skow_2013b')}.

  #### Meeting Four: Counterfactual Theories of Explanation (Friday 26 September)

  - #{bib.fullcite('woodward_2003c')}.
  - #{bib.fullcite('woodward_2003d')}.
  - #{bib.fullcite('skow_2014')} URI: <http://goo.gl/iMRzQc>

  #### Meeting Five: Theories of Explanatory Depth (Friday 3 October)

  - #{bib.fullcite('weslake_2010')}.
  - #{bib.fullcite('franklin-hall_2013')}. URI: <http://goo.gl/ZkN2pw>

  ### Section II: Laws

  #### Meeting Six: Nomic Fundamentalism (Friday 10 October)

  - #{bib.fullcite('cartwright_1994')}.
  - #{bib.fullcite('sklar_2003')}.

  #### Meeting Seven: Humean Theories of Laws (Friday 17 October)

  - #{bib.fullcite('loewer_1996')}. URI: <http://goo.gl/lyeH6d>
  - #{bib.fullcite('hall_2009')}.

  *No Class Friday 24 October*

  #### Meeting Eight: Primitivist Theories of Laws (Friday 24 October)

  - #{bib.fullcite('maudlin_2007c')}. URI: <http://goo.gl/LGgTCp>
  - #{bib.fullcite('hildebrand_2013')}.

  #### Meeting Nine: Laws and Time (Friday 31 October)

  - #{bib.fullcite('maudlin_2007')}.
  - #{bib.fullcite('loewer_2012a')}.

  ### Section III: Causation

  #### Meeting Ten: (Friday 7 November)

  #### Meeting Eleven: (Friday 14 November)

  *No Classes Monday 21 November and Monday 28 November*

  #### Meeting Twelve: (Friday 5 December)

  #### Meeting Thirteen: (Friday 12 December)

  *Updated*: 4 September 2014