Title: Brad Weslake &bull; Philosophy of Mind
Categories: teaching/2022
Template: class
Summary: An introduction to philosophy of mind.

- bib = Nesta::Plugin::Maldini::Bibliography.new('content/attachments/mind.bib')

%heading
  %h1 Philosophy of Mind

:markdown

  ## Fall 2022

  <p align="center"><img width="50%" src="https://bweslake.s3.amazonaws.com/images/mind-cambridge-1330.png" alt="Cambridge University Library MS Gg1.1, fol. 490v."></p>
  <blockquote class="caption">A depiction of the “interior powers” of the mind: “common sense, imaginings, judging, and remembering”, circa 1330. From Cambridge University Library MS Gg. 1.1, Folio 490v. For discussion, see Mary J. Carruthers, “Two Unusual Mind Diagrams in a Late Fifteenth-Century Manuscript”, <em>Manuscript Studies</em>, Vol. 4, No. 2, Fall 2019, pp. 389-400. URI: <a href="https://doi.org/10.1353/mns.2019.0017">https://doi.org/10.1353/mns.2019.0017</a></blockquote>

  ### Details

  <table class="names">
  <thead>
  <tr><th>Course Code</th><th>Location</th><th>Times</th></tr>
  </thead>
  <tbody>
  <tr><td>PHIL-SHU 80</td><td>1555 Century Avenue, Room 604</td><td>Mondays and Wednesdays, 9:45am to 11:00am</td></tr>
  </tbody>
  </table>

  ### Instructor

  <table class="names">
  <thead>
  <tr><th>Name</th><th>Email</th><th>Office</th><th>Consultation Times</th></tr>
  </thead>
  <tbody>
  <tr><td>Brad Weslake</td><td><a href="mailto:brad.weslake@nyu.edu">brad.weslake@nyu.edu</a></td><td>1555 Century Avenue, Room 961</td><td><a href="https://calendly.com/bradweslake/student-consultation">By appointment</a></td></tr>
  </tbody>
  </table>

  ### Overview
  This class is an introduction to philosophy of mind.  No prior philosophy, psychology or neuroscience will be assumed.

  ### Assessment

  <p>Requirements:</p>
  <ul class="assess">
  <li>Two exams.</li>
  <li>Two 6&ndash;8 page papers.</li>
  <li>Attendance and participation.</li>
  </ul>

  <p>The final grade will be determined approximately as follows:</p>
  <table class="assess">
  <tbody>
  <tr><td>First Exam: </td><td>20% </td></tr>
  <tr><td>Second Exam: </td><td>20% </td></tr>
  <tr><td>First Paper: </td><td>20% </td></tr>
  <tr><td>Second Paper: </td><td>30% </td></tr>
  <tr><td>Attendance and participation: </td><td>10% </td></tr>
  </tbody>
  </table>

  <p>Assessment dates:</p>
  <table class="assess">
  <tbody>
  <tr><td>First Exam: </td><td>Saturday 8 October</td></tr>
  <tr><td>First Paper: </td><td>Sunday 6 November</td></tr>
  <tr><td>Second Exam: </td><td>Monday 21 November</td></tr>
  <tr><td>Second Paper: </td><td>Wednesday 14 December</td></tr>
  </tbody>
  </table>

  ### Policies

  #### Attendance and Lateness

  Students are required to attend all classes on time. An explanation for every absence or late attendance must be submitted in writing to the instructor. Every failure to attend class on time will count against the component of the final grade awarded for attendance and participation, unless an explanation is received and approved at least one day prior to the class in question. Requests for exceptions will be considered on a case by case basis, and typically granted only when related to an illness or other unforeseeable change in life circumstance.

  #### Integrity

  It is a condition on passing this course that students read and adhere to the NYU Shanghai policy on academic integrity as described in the current [NYU Shanghai Academic Bulletin](https://shanghai.nyu.edu/academics/curriculum/bulletin).

  ### Course Materials
  
  All notes, readings and assignments can be found [here](https://brightspace.nyu.edu/d2l/home/200274).
  
  The following books have been placed on [reserve](https://ares.library.nyu.edu/remoteauth/ares.dll?SessionID=L024709594L&Action=10&Form=60&Value=205893) in the library:
  
  - #{bib.fullcite('kim_2010a')}.
  - #{bib.fullcite('chalmers_2002')}.

  ### Schedule

  #### Meeting 1: Introductory Discussion (Wednesday 14 September)

  #### Meeting 2: The Mark of the Mental (Saturday 17 September)

  ##### Primary Reading
  
  - #{bib.fullcite('bayne_2021', 'Chapter 1, pp. 6–23')}.

  ##### Secondary Reading

  - #{bib.fullcite('crane_1998')}.
  - #{bib.fullcite('strawson_2010', 'Chapter 6, pp. 145–176')}.
  
  #### Meeting 3: Dualism: Epistemological Arguments (Monday 19 September)

  ##### Primary Reading
  - #{bib.fullcite('descartes_1984', 'Meditations II and VI, pp. 16–23, 50–62')}.
  - #{bib.fullcite('braddon-mitchell_2007a', 'pp. 5–8')}.

  ##### Secondary Reading
  - #{bib.fullcite('wilson_1976')}.

  #### Meeting 4: Dualism: The Problem of Interaction (Wednesday 21 September)

  ##### Primary Reading
  - #{bib.fullcite('descartes_1985', 'The Passions of The Soul, §§30-34, pp. 339–341')}.
  - #{bib.fullcite('shapiro_2007b', 'pp. 61-73')}.

  ##### Secondary Reading
  - #{bib.fullcite('garber_1983')}.

  #### Meeting 5: Dualism: The Pairing Problem (Monday 26 September)

  ##### Primary Reading
  - #{bib.fullcite('kim_2001')}.

  ##### Secondary Reading
  - #{bib.fullcite('strawson_2008b')}.

  #### Meeting 6: Review (Wednesday 28 September)

  #### National Day Holiday: Fall Break

  #### Meeting 7: First Exam (Saturday 8 October)

  #### Meeting 8: Behaviour and Knowledge of Minds (Monday 10 October)

  ##### Primary Reading
  - #{bib.fullcite('ryle_1949', 'Chapter 1, pp. 1–13')}.
  - #{bib.fullcite('paul_2018')}.

  ##### Secondary Reading
  - #{bib.fullcite('tanney_2009')}.
    
  #### Meeting 9: Behaviourism (Wednesday 12 October)

  ##### Primary Reading
  - #{bib.fullcite('kim_2010a', 'Chapter 3, pp. 61–90')}.
  
  ##### Secondary Reading
  - #{bib.fullcite('crawford_2013')}.

  #### Meeting 10: The Identity Theory (Monday 17 October)
  
  ##### Primary Reading
  - #{bib.fullcite('place_1956')}.  
  - #{bib.fullcite('smart_1959')}.
  
  #### Meeting 11: Common Sense Functionalism (Wednesday 19 October)

  ##### Primary Reading
  - #{bib.fullcite('lewis_1966')}.

  ##### Secondary Reading
  - #{bib.fullcite('lewis_1972')}.  

  #### Meeting 12: Multiple Realisation (Saturday 22 October)

  ##### Primary Reading
  - #{bib.fullcite('putnam_1967a')}. Reprinted as “The Nature of Mental States” in Timothy O'Connor and David Robb, *Philosophy of Mind: Contemporary Readings*, Routledge, London, pp. 210–221.
  - #{bib.fullcite('lewis_1980c')}.

  ##### Secondary Reading
  - #{bib.fullcite('polger_2009a')}.

  #### Meeting 13: Machine Functionalism (Monday 24 October)

  ##### Primary Reading
  - #{bib.fullcite('fodor_1981a')}.

  #### Meeting 14: Objections to Functionalism (Wednesday 26 October)

  ##### Primary Reading
  - #{bib.fullcite('block_1978')}. Revised version published in Brian Beakley and Peter Ludlow, *The Philosophy of Mind: Classical Problems/Contemporary Issues*, MIT Press, Cambridge MA, 2nd Ed, 2006, pp. 107–131.

  #### Meeting 15: Functionalism and Consciousness I (Monday 31 October)

  ##### Primary Reading
  - #{bib.fullcite('chalmers_1995')}.

  #### Meeting 16: Functionalism and Consciousness II (Wednesday 2 November)

  ##### Primary Reading
  - #{bib.fullcite('godfrey-smith_2016c')}.
  
  ##### Secondary Reading
  - #{bib.fullcite('godfrey-smith_2016d')}.
  
  #### Meeting 17: Emotion: Feeling Theories (Monday 7 November)
  
  ##### Primary Reading
  - #{bib.fullcite('james_1884')}. 
  
  ##### Secondary Reading
  - #{bib.fullcite('dixon_2012')}. 
  - #{bib.fullcite('cannon_1929a')}.     
  
  #### Meeting 18: Emotion: Evaluative Theories (Wednesday 9 November)
  
  ##### Primary Reading
  - #{bib.fullcite('nussbaum_1997')}. Reprinted in Robert C. Solomon, *Thinking about Feeling: Contemporary Philosophers on Emotions*, Oxford University Press, Oxford, pp. 183–199.
  
  ##### Secondary Reading
  - #{bib.fullcite('scarantino_2010')}.
    
  #### Meeting 19: Emotion: Motivational Theories (Monday 14 November)

  ##### Primary Reading
  - #{bib.fullcite('scarantino_2014')}. 
  
  ##### Secondary Reading
  - #{bib.fullcite('tappolet_2009')}. 

  #### Meeting 20: Emotion: Natural Kinds (Wednesday 16 November)

  ##### Primary Reading
  - #{bib.fullcite('griffiths_2004b')}. 
  
  ##### Secondary Reading
  - #{bib.fullcite('taylor_2020')}. 

  #### Meeting 21: Second Exam (Monday 21 November)

  #### Meeting 22: Buddhist Philosophy of Mind: Suffering (Wednesday 23 November)

  ##### Primary Reading
  - #{bib.fullcite('carpenter_2014', 'Chapter 1: The Buddha\'s Suffering, pp. 1–19')}.
  
  ##### Secondary Reading
  - #{bib.fullcite('nanamoli_1995', 'Sammādiṭṭhi Sutta, pp. 132-144')}.

  #### Meeting 23: No Class (Monday 28 November)

  #### Meeting 24: Buddhist Philosophy of Mind: The Self I (Wednesday 30 November)

  ##### Primary Reading
  - #{bib.fullcite('carpenter_2014', 'Chapter 2: Practice and Theory of No-Self, pp. 20–47')}.
  
  ##### Secondary Reading
  - #{bib.fullcite('nanamoli_1995', 'Alagaddūpama Sutta, pp. 225-236')}.
  - #{bib.fullcite('bodhi_2000', 'Bhikkhunīsaṁyutta, pp. 221-230')}.
  - #{bib.fullcite('horner_1969', 'Milinda’s Questions II: The Distinguishing Marks, pp. 34-89')}.
  
  #### Meeting 25: Buddhist Philosophy of Mind: The Self II (Monday 5 December)

  ##### Primary Reading
  - #{bib.fullcite('carpenter_2014', 'Chapter 6: Irresponsible Selves, Responsible Non-Selves, pp. 117–136')}.
  
  ##### Secondary Reading
  - #{bib.fullcite('kapstein_2001', 'Vasubandhu and the Nyāya Philosophers on Personal Identity, pp. 347-391')}.

  #### Meeting 26: (Wednesday 7 December)

  #### Meeting 27: (Monday 12 December)

  #### Meeting 28: (Wednesday 14 December)
  
  *Updated*: 20 November 2022