Title: Brad Weslake &bull; Philosophy of Biology
Categories: teaching/2024
Template: class
Summary: An introduction to philosophy of biology with a focus on causation and explanation in evolutionary theory and behavioural genetics.

- bib = Nesta::Plugin::Maldini::Bibliography.new('content/attachments/biology.bib')

%heading
  %h1 Philosophy of Biology

:markdown

  ## Spring 2024

  <p align="center"><img width="100%" src="https://s3.amazonaws.com/bweslake/images/darwin_diagram.png" alt="Charles Darwin, Diagram of Divergence of Taxa"></p>
  <blockquote class="caption">Part of Darwin's &ldquo;Diagram of Divergence of Taxa&rdquo;, the only diagram in <em>On The Origin of Species</em>.  The diagram depicts &ldquo;hypothetical phylogenetic relationships, showing how lineages diverge from common ancestors and give rise to both extinct and extant species. Time intervals (between Roman numerals) represent thousands of generations. [...] Distance along the horizontal axis represents degree of divergence (as, for example, in body form). Darwin recognized that rates of evolution vary greatly, showing this by different angles in the diagram&rdquo; (Futuyma, 2009, p. 21).  Note too that the diagram displays <a href="http://dx.doi.org/10.1038/nature07894">Darwin's recognition</a> that it is the most divergent species that are most likely to survive.  For the full diagram see <a href="http://darwin-online.org.uk/content/frameset?viewtype=image&amp;itemID=F373&amp;pageseq=133">here</a>.</blockquote>

  ### Details

  <table class="names">
  <thead>
  <tr><th>Course Code</th><th>Location</th><th> Times</th></tr>
  </thead>
  <tbody>
  <tr><td>PHIL-SHU 91</td><td>567 West Yangsi Road, Room E303</td><td>Mondays and Wednesdays, 9:45am to 11:00am</td></tr>
  </tbody>
  </table>

  ### Instructor

  <table class="names">
  <thead>
  <tr><th>Name</th><th>Email</th><th>Office</th><th>Consultation Times</th></tr>
  </thead>
  <tbody>
  <tr><td><a href="https://bweslake.org/">Brad Weslake</a></td><td><a href="mailto:brad.weslake@nyu.edu">brad.weslake@nyu.edu</a></td><td>567 West Yangsi Road, Room W826</td><td><a href="https://calendly.com/bradweslake/student-consultation">By appointment</a></td></tr>
  </tbody>
  </table>

  ### Overview
  This class is an introduction to philosophy of biology with a focus on causation and explanation in evolutionary theory and behavioural genetics.  No prior philosophy of science or biology will be assumed.
    
  ### Assessment

  <p>The final grade will be determined approximately as follows:</p>
  <table class="assess">
  <tbody>
  <tr><td>Attendance and participation: </td><td>10%</td></tr>
  <tr><td>First Oral Exam: </td><td>15%</td></tr>
  <tr><td>Second Oral Exam: </td><td>20%</td></tr>
  <tr><td>Paper (Outline): </td><td>10%</td></tr>
  <tr><td>Paper (Draft): </td><td>15%</td></tr>
  <tr><td>Paper (Final): </td><td>30%</td></tr>
  </tbody>
  </table>

  <p>Assessment dates:</p>
  <table class="assess">
  <tbody>
  <tr><td>First Oral Exam: </td><td>After 19 February</td><td></td></tr>
  <tr><td>Second Oral Exam: </td><td>After 18 March</td><td></td></tr>
  <tr><td>Paper (Outline): </td><td>Friday 12 April</td><td></td></tr>
  <tr><td>Paper (Draft): </td><td>Friday 26 April</td><td></td></tr>
  <tr><td>Paper (Final): </td><td>Friday 10 May</td><td></td></tr>
  </tbody>
  </table>

  ### Policies

  #### Lateness and Attendance 

  Students are required to attend all classes on time. Lateness will count against your  attendance and participation grade. Students missing 4 classes will receive an attendance and participation grade of F. Students missing 6 classes will receive a final grade of F.

  #### Integrity

  It is a condition on passing this course that students read and adhere to the NYU Shanghai policy on academic integrity as described in the current [NYU Shanghai Academic Bulletin](https://shanghai.nyu.edu/academics/curriculum/bulletin).

  ### Course Materials
  
  All notes, readings and assignments can be found on the course Brightspace site [here](https://brightspace.nyu.edu/d2l/home/355092).
  
  Selected books are available on [reserve](https://ares.library.nyu.edu/remoteauth/ares.dll?SessionID=B223817753Y&Action=10&Form=60&Value=264628) in the library.
  
  ### Schedule

  #### Meeting 1: Introductory Discussion (Monday 22 January)
  - #{bib.fullcite('godfrey-smith_2009b', '§1')}.

  ### Section I: Natural Selection

  #### Meeting 2: The Propensity Interpretation of Fitness (Wednesday 24 January)
  - #{bib.textcite('godfrey-smith_2009b', '§2.1')}.
  - #{bib.fullcite('mills_1979')}.
  - #{bib.fullcite('sober_2014', '§1')}.
  
  #### Meeting 3: Problems for The Propensity Interpretation (Monday 29 January)
  - #{bib.fullcite('sober_2000a')}.
  - #{bib.fullcite('sober_2014', '§2')}.
  - #{bib.textcite('godfrey-smith_2009b', '§§2.2–2.3')}.

  #### Meeting 4: What Can Selection Explain? (Wednesday 31 January)
  - #{bib.fullcite('forber_2005')}.
  - #{bib.textcite('godfrey-smith_2009b', '§§3.1–3.3')}.

  #### Meeting 5: Selection and Drift as Forces (Monday 5 February)
  - #{bib.fullcite('sober_1984b', 'Chapter 1')}.

  #### Meeting 6: Selection and Drift as Trends (Wednesday 7 February)
  - #{bib.textcite('godfrey-smith_2009b', '§§3.4–3.6')}.

  #### Meeting 7: Review (Monday 19 February)
  
  ### Section II: Individuals, Collectives, Levels and Transitions
  
  #### Meeting 8: Individuals, Reproduction and Collectives (Wednesday 21 February)
   - #{bib.fullcite('janzen_1977')}.
   - #{bib.textcite('godfrey-smith_2009b', '§§4–5')}.

  #### Meeting 9: Altruism and Group Selection: Theory (Monday 26 February)
  - #{bib.fullcite('sober_1998', 'pp. 17–35')}.

  #### Meeting 10: Altruism and Group Selection: Examples (Wednesday 28 February)
  - #{bib.textcite('sober_1998', 'pp. 35–54')}.

  #### Meeting 11: Two Kinds of Group Selection (Monday 4 March)
  - #{bib.fullcite('okasha_2006', '§§2.1–2.2')}.

  #### Meeting 12: Darwinian Populations and Levels of Selection (Wednesday 6 March)
  - #{bib.textcite('godfrey-smith_2009b', '§§6.1–6.2')}.
  
  #### Meeting 13: Major Evolutionary Transitions (Monday 11 March)
  - #{bib.textcite('godfrey-smith_2009b', '§6.3')}.
  
  #### Meeting 14: Review (Wednesday 13 March)  
  
  *Updated*: 30 January 2023