Title: Brad Weslake &bull; Central Problems in Philosophy
Categories: teaching/2016
Template: class
Summary: An introduction to the problems and methods of contemporary philosophy.

- bib = Nesta::Plugin::Maldini::Bibliography.new('content/attachments/central-problems.bib')

%heading
  %h1 Central Problems in Philosophy

:markdown

  ## Spring 2016

  <p align="center"><img src="https://s3.amazonaws.com/bweslake/images/godot.png" alt="Samuel Beckett, from Waiting for Godot"></p>
  <blockquote class="caption">Samuel Beckett, <em>Waiting for Godot</em>, Grove, NY, 1954, p. 13.</blockquote>

  ### Details

  <table class="names">
  <thead>
  <tr><th>Course Code</th><th>Location</th><th> Times</th></tr>
  </thead>
  <tbody>
  <tr><td>PHIL-SHU 150-001 (14602)</td><td>1555 Century Avenue, Room 204</td><td>Tuesdays and Thursdays, 9:45am–11:00am</td></tr>
  </tbody>
  </table>

  ### Instructor

  <table class="names">
  <thead>
  <tr><th>Name</th><th>Email</th><th>Office</th><th>Consultation Times</th></tr>
  </thead>
  <tbody>
  <tr><td>Brad Weslake</td><td><a href="mailto:brad.weslake@nyu.edu">brad.weslake@nyu.edu</a></td><td>1555 Century Avenue, Room 1226</td><td>Tuesdays and Thursdays, 11:00am–12:00pm, or by appointment.</td></tr>
  </tbody>
  </table>

  ### Overview
  This course is an introduction to philosophy through the study of selected central problems. Our approach will be historical, comparative and interdisciplinary.

  ### Objectives
  The aim of this course is for students to significantly improve their capacity to:
  
  * Extract, explain and evaluate the arguments contained in philosophical texts.
  * Understand the central arguments and theories contained in the assigned readings.
  * Contribute to constructive philosophical discussion.
  * Write clear, concise, and well organised philosophical essays.

  ### Assessment

  <p>Requirements:</p>
  <ul class="assess">
  <li>Three 6&ndash;8 page papers.</li>
  <li>Attendance and participation.</li>
  </ul>

  <p>The final grade will be determined approximately as follows:</p>
  <table class="assess">
  <tbody>
  <tr><td>First Paper: </td><td>20% </td></tr>
  <tr><td>Second Paper: </td><td>30% </td></tr>
  <tr><td>Third Paper: </td><td>40% </td></tr>
  <tr><td>Attendance and participation: </td><td>10% </td></tr>
  </tbody>
  </table>

  <p>Due dates:</p>
  <table class="assess">
  <tbody>
  <tr><td>First Paper: </td><td>Tuesday 15 March</td><td></td></tr>
  <tr><td>Second Paper: </td><td>Thursday 14 April</td><td></td></tr>
  <tr><td>Third Paper: </td><td>Thursday 12 May</td><td></td></tr>
  </tbody>
  </table>

  ### Policies

  #### Attendance and Lateness

  Students are required to attend all classes on time. An explanation for every absence or late attendance must be submitted in writing to the instructor. Every failure to attend class on time will count against the component of the final grade awarded for attendance and participation, unless an explanation is received and approved at least one day prior to the class in question. Requests for exceptions will be considered on a case by case basis, and typically granted only when related to an illness or other unforeseeable change in life circumstance. Students who have been excessively absent will be considered to have unofficially withdrawn and will be given a final grade of F.

  #### Integrity

  It is a condition on passing this course that students read and adhere to the NYU Shanghai policy on academic integrity as described in the current [NYU Shanghai Academic Bulletin](https://shanghai.nyu.edu/academics/curriculum/bulletin).

  ### Schedule

  #### Meeting 1: What is Philosophy? (Tuesday 26 January)

  ### Section I: Perception and Reality

  #### Meeting 2: Descartes I (Thursday 28 January)

  - Selections from #{bib.fullcite('descartes_2006')}.

  #### Meeting 3: Descartes II (Tuesday 2 February)

  - #{bib.fullcite('stroud_1984b')}.

  #### Meeting 4: Vasubandhu I (Thursday 4 February)

  - Selections from Vasubandhu. c400. *Viṃśatikākārikā* and *Viṃśatikāvṛtti*.
      - Translation I: #{bib.fullcite('kochumutto_1982')}.
      - Translation II: #{bib.fullcite('anacker_2005')}.
  
  #### Spring Festival Holiday: 8–12 February

  #### Meeting 5: Vasubandhu II (Tuesday 16 February)
  
  - Selections from #{bib.fullcite('siderits_2007')}.
  
  #### Meeting 6: Nyāya I (Thursday 18 February)

  - Selections from Akṣapāda Gautama. c500BCE. *Nyāyasūtras* and Vātsyāyana. c200BCE. *Bhāṣya*.
      - Translation: #{bib.fullcite('jha_1939')}.

  #### Meeting 7: Nyāya II (Tuesday 23 February)

  - #{bib.fullcite('logue_2015')}.
  - #{bib.fullcite('dasti_2012')}.
  
  ### Section II: The Self
  
  #### Meeting 8: Locke I (Thursday 25 February)

  - #{bib.fullcite('locke_2011')}.

  #### Meeting 9: Locke II (Tuesday 1 March)

  - #{bib.fullcite('mackie_1976b')}.

  #### Meeting 10: Locke III (Thursday 3 March)

  - #{bib.fullcite('wilkes_1993a')}.

  #### Meeting 11: Vasubandhu I (Tuesday 8 March)

  - Vasubandhu. c400. *Ātmavādapratiṣedha*.
      - Translation I: #{bib.fullcite('kapstein_2001')}.
      - Translation II: #{bib.fullcite('duerlinger_2003')}.

  #### Meeting 12: Vasubandhu II (Thursday 10 March)

  - #{bib.fullcite('ganeri_2007a')}.

  #### Meeting 13: The Self and Suffering I (Tuesday 15 March)

  - #{bib.fullcite('parfit_1971')}.

  #### Meeting 14: The Self and Suffering II (Thursday 17 March)

  - #{bib.fullcite('velleman_2006a')}.

  #### Meeting 15: (Tuesday 22 March)

  #### Meeting 16: (Thursday 24 March)

  #### Meeting 17: (Tuesday 29 March)

  #### Meeting 18: (Thursday 31 March)

  #### Spring Recess: 4–8 April

  #### Meeting 19: (Tuesday 12 April)

  #### Meeting 20: (Thursday 14 April)

  #### Meeting 21: (Tuesday 19 April)

  #### Meeting 22: (Thursday 21 April)

  #### Meeting 23: (Tuesday 26 April)

  #### Meeting 24: (Thursday 28 April)

  #### Meeting 25: (Tuesday 3 May)

  #### Meeting 26: (Thursday 5 May)

  #### Meeting 27: (Tuesday 10 May)

  #### Meeting 28: (Thursday 12 May)
  
  *Updated*: 10 February 2016