Title: Brad Weslake &bull; Topics in Metaphysics and Epistemology
Categories: teaching/2016
Template: class
Summary:   A discussion-based seminar on selected issues in the philosophy of mathematics and modality.

- bib = Nesta::Plugin::Maldini::Bibliography.new('content/attachments/metaphysics.bib')

%heading
  %h1 Topics in Metaphysics and Epistemology

:markdown

  ## Spring 2016

  ### Details

  <table class="names">
  <thead>
  <tr><th>Course Code</th><th>Location</th><th> Times</th></tr>
  </thead>
  <tbody>
  <tr><td>PHIL-SHU 103-001 (24317)</td><td>1555 Century Avenue, Room 1200</td><td>Thursdays, 4:35pm–6:30pm</td></tr>
  </tbody>
  </table>

  ### Instructor

  <table class="names">
  <thead>
  <tr><th>Name</th><th>Email</th><th>Office</th><th>Consultation Times</th></tr>
  </thead>
  <tbody>
  <tr><td>Brad Weslake</td><td><a href="mailto:brad.weslake@nyu.edu">brad.weslake@nyu.edu</a></td><td>1555 Century Avenue, Room 1226</td><td>Tuesdays and Thursdays, 11:00am–12:00pm, or by appointment.</td></tr>
  </tbody>
  </table>

  ### Overview
  A discussion-based seminar on selected issues in the philosophy of mathematics and modality.

  ### Assessment

  <p>Requirements:</p>
  <ul class="assess">
  <li>One 10&ndash;15 page paper.</li>
  <li>Attendance and participation.</li>
  </ul>

  ### Schedule

  ### Section I: Mathematics

  #### Meeting 1: Set Theory (Thursday 4 February)

  - #{bib.fullcite('steinhart_2009')}, Chapter 1.

  #### Spring Festival Holiday: 8–12 February

  #### Meeting 2: Structuralism (Thursday 18 February)

  - #{bib.fullcite('benacerraf_1965')}.
  - #{bib.fullcite('shapiro_1997a')}, Chapter 3.

  #### Meeting 3: Logicism (Thursday 3 March)

  - #{bib.fullcite('shapiro_2000a')}, Chapter 5.

  #### Meeting 4: Formalism (Thursday 10 March)

  - #{bib.fullcite('shapiro_2000a')}, Chapter 6.

  #### Meeting 5: The Analytic and Synthetic (Thursday 17 March)

  - #{bib.fullcite('papineau_2012')}, Chapter 4.

  #### Meeting 6: Necessity and Contingency (Thursday 24 March)

  - #{bib.fullcite('papineau_2012')}, Chapter 5.

  #### Meeting 7 (Thursday 31 March)
  
  - #{bib.fullcite('papineau_2012')}, Chapter 6.
  
  #### Spring Recess: 4–8 April

  #### Meeting 8: (Thursday 21 April)

  - #{bib.fullcite('kripke_1980')}, Lecture 1.

  #### Meeting 9: (Thursday 28 April)

  - #{bib.fullcite('kripke_1980')}, Lecture 2.

  #### Meeting 10: (Thursday 5 May)

  - #{bib.fullcite('kripke_1980')}, Lecture 3.

  #### Meeting 11: (Thursday 12 May)
  
  - #{bib.fullcite('lycan_1974')}, Chapter 5.
  
  *Updated*: 9 May 2016