Title: Brad Weslake &bull; Topics in the Philosophy of Science
Categories: teaching/2020
Template: class
Summary: An advanced introduction to philosophy of science.

- bib = Nesta::Plugin::Maldini::Bibliography.new('content/attachments/science.bib')

%heading
  %h1 Topics in the Philosophy of Science

:markdown

  ## Fall 2020

  <p align="center"><br/><img width="70%" src="http://bweslake.s3.amazonaws.com/images/faraday.png" alt="From Michael Faraday, Experimental Researches in Electricity">

  <blockquote class="caption">Michael Faraday's diagram of magnetic lines of force, from his &ldquo;Experimental Researches in Electricity&rdquo;, <em>Philosophical Transactions of the Royal Society of London</em>, Vol. 142, 1 January 1852, pp. 25&ndash;56.</blockquote></p>

  <a name="details"> </a>
  <h3>Details</h3>
  <table class="names">
  <thead>
  <tr><th>Course Code</th><th>Location</th><th> Times</th></tr>
  </thead>
  <tbody>
  <tr><td>PHIL-GA 3009</td><td>Online</td><td>Mondays, 1:15pm to 3:15pm</td></tr>
  </tbody>
  </table>

  <a name="instructor"> </a>
  <h3>Instructor</h3>
  <table class="names">
  <thead>
  <tr><th>Name</th><th>Email</th></tr>
  </thead>
  <tbody>
  <tr><td>Brad Weslake</td><td><a href="mailto:brad.weslake@nyu.edu">brad.weslake@nyu.edu</a></td></tr>
  </tbody>
  </table>

  <a name="overview"> </a>
  <h3>Overview</h3>
  <p>This course will cover three central topics in general philosophy of science: explanation, laws and causation. The focus will be on how general issues intersect with some more applied topics in the particular sciences, with some candidates being: causal and non-causal explanation in evolutionary theory; explainability in artificial intelligence; the relationship between the idea that the dynamical laws of physics govern and the idea that they explain; and the relationship between the cognitive science of causal judgment and the metaphysics of causation. We will focus on the topics that those attending become most interested in.</p>

  <a name="assessment"> </a>
  <h3>Assessment</h3>
  <p>Requirements:</p>
  <ul class="assess">
  <li>Contribute to online annotation of the readings.</li>
  <li>Write one research paper. </li>
  </ul>

  <p>Due dates:</p>
  <table class="assess">
  <tbody>
  <tr><td>Annotations: </td><td>Continuously</td></tr>
  <tr><td>Research Paper:  </td><td>Monday 14 December</td></tr>
  </tbody>
  </table>

  ### Schedule

  #### Meeting One: Introductory Discussion (Wednesday 9 September)

  ### Section I: Explanation

  #### Meeting Two: Nomological Theories of Explanation (Monday 14 September)

  - #{bib.fullcite('hempel_1965b')}. [[PDF](https://nyu.box.com/v/hempel-aspects)] (Read §§1–2)
  - #{bib.fullcite('woodward_2003e')}. [[PDF](https://nyu.box.com/v/woodward-background)]

  #### Meeting Three: Causal Theories of Explanation (Monday 21 September)

  - #{bib.fullcite('lewis_1986')}. [[PDF](https://nyu.box.com/v/lewis-explanation)]
  - #{bib.fullcite('sober_1983')}. [[PDF](https://nyu.box.com/v/sober-equilibrium)]

  #### Meeting Four: Counterfactual Theories of Explanation (Monday 28 September)

  - #{bib.fullcite('woodward_2003c')}. [[PDF](https://nyu.box.com/v/woodward-hitchcock-i)]
  - #{bib.fullcite('woodward_2003d')}. [[PDF](https://nyu.box.com/v/woodward-hitchcock-ii)]

  #### Meeting Five: Case Study: Drift (Monday 5 October)

  - #{bib.fullcite('futuyma_2017a')}. [[PDF](https://nyu.box.com/v/futuyma-kirkpatrick-drift)]
  - #{bib.fullcite('plutynski_2007')}. [[PDF](https://nyu.box.com/v/plutynski-drift)]
  - #{bib.fullcite('lange_2013a')}. [[PDF](https://nyu.box.com/v/lange-really-statistical)]

  #### Meeting Six: Case Study: Neural Networks (Monday 12 October)

  - #{bib.fullcite('lipton_2018')}. [[PDF](https://nyu.box.com/v/lipton-mythos)]
  - #{bib.fullcite('sullivan_2020')}. [[PDF](https://nyu.box.com/v/sullivan-understanding)]

  #### Meeting Seven: Case Study: Chance and Explanation (Monday 19 October)

  - #{bib.fullcite('elliott_2020')} [[PDF](https://nyu.box.com/v/elliott-two-questions)]
  - #{bib.fullcite('skow_2013a')}. [[PDF](https://nyu.box.com/v/skow-chance-explanation)]

  ### Section II: Laws

  #### Meeting Eight: Nomic Fundamentalism (Monday 26 October)

  - #{bib.fullcite('cartwright_1994')}. [[PDF](https://nyu.box.com/v/cartwright-patchwork)]
  - #{bib.fullcite('sklar_2003')}. [[PDF](https://nyu.box.com/v/sklar-dappled)]

  #### Meeting Nine: Humeanism (Monday 2 November)

  - #{bib.fullcite('hall_2009')} [[PDF](https://nyu.box.com/v/hall-humean-reductionism)]

  #### Meeting Ten: Humeanism and Explanation (Monday 9 November)

  - #{bib.fullcite('shumener_2017')}. [[PDF](https://nyu.box.com/v/shumener-circularity)]
  - #{bib.fullcite('emery_2019')}. [[PDF](https://nyu.box.com/v/emery-laws-instances)]

  ### Section III: Causation

  #### Meeting Eleven: Actual Causation: Philosophical Background (Monday 16 November)

  - #{bib.fullcite('fenton-glynn_2020')}. [[PDF](https://nyu.box.com/v/fenton-glynn-causation)]

  #### Meeting Twelve: Actual Causation: Functional Theories (Monday 23 November)
  
  - #{bib.fullcite('danks_2013')}. [[PDF](https://nyu.box.com/v/danks-functions-biases)]
  - #{bib.fullcite('hitchcock_2017')}. [[PDF](https://nyu.box.com/v/hitchcock-causation-use)]
  
  #### Meeting Thirteen: Actual Causation and Explanatory Judgement (Monday 30 November)
  
  - #{bib.fullcite('hall_2004c')}. [[PDF](https://nyu.box.com/v/hall-two-concepts)]
  - #{bib.fullcite('lombrozo_2010')}. [[PDF](https://nyu.box.com/v/lombrozo-pluralism)]
  
  #### Meeting Fourteen: Actual Causation and Normative Judgement (Monday 7 December)
  
  - #{bib.fullcite('hitchcock_2009')}. [[PDF](https://nyu.box.com/v/hitchcock-knobe-cause-norm)]
  - #{bib.fullcite('willemsen_2018')}. [[PDF](https://nyu.box.com/v/willemsen-kirfel-recent-work)]
  - #{bib.fullcite('strevens_2013')}. [[PDF](https://nyu.box.com/v/strevens-causality-reunified)]

  *Updated*: 14 October 2020