Title: Brad Weslake &bull; Causation
Categories: teaching/2012
Template: class
Summary: A graduate seminar on causation.

- bib = Nesta::Plugin::Maldini::Bibliography.new('content/attachments/causation.bib')

%heading
  %h1 Causation

:markdown
  ## Fall 2012 ##

  <p align="center">
  <br>
  <img width="400" src="http://bweslake.s3.amazonaws.com/images/jellitsch-arrows.png" alt="Peter Jellitsch, STB/S09/04-40°" title="Peter Jellitsch, STB/S09/04-40°">
  </p>

  <a name="overview"> </a>

  ### Overview
  This is a graduate seminar on causation, with a focus on regularity theories, counterfactual theories, and the relationship between higher and lower level causes.  The schedule is tentative, and may be changed as the course progresses.  Unless otherwise advertised, we meet in the Philosophy Seminar Room (Lattimore 531) at 2:00pm&ndash;4:40pm.  A BibTeX file containing all the references below can be found [here][bibtex].

  ### Schedule

  #### Background Readings on Methodology
  
  ##### Primary
  
  - #{bib.fullcite('dowe_2000')}, Chapter 1.
  - #{bib.fullcite('hall_2004')}.

  ##### Secondary
  
  - #{bib.fullcite('hall_2012')}, Chapter 1, §§1–2 and Chapter 2, §§3.1–3.2.
  - #{bib.fullcite('bontly_2006')}
  
  #### Regularity Theories: Hume (Monday 10 September)

  ##### Primary

  - Hume, *Enquiry Concerning Human Understanding*, §§4–7.
  - #{bib.fullcite('hausman_1998')}, Chapter 3.

  ##### Secondary

  - #{bib.fullcite('mackie_1974')}, Chapter 1.

  #### Regularity Theories: Mackie (Monday 17 September)

  ##### Primary

  - #{bib.fullcite('mackie_1974')}, Chapters 3 and 8.

  ##### Secondary

  - #{bib.fullcite('scriven_1993')}.
  - #{bib.fullcite('kim_1971')}.

  #### Regularity Theories: Strevens (Monday 24 September)

  ##### Primary

  - #{bib.fullcite('strevens_2007')}.

  ##### Secondary

  - #{bib.fullcite('strevens_2008c')}.

  #### Counterfactual Theories: Lewis I (Monday 1 October)

  ##### Introductory
  
  - #{bib.fullcite('menzies_2008a')}

  ##### Primary

  - #{bib.fullcite('lewis_1973')}
  - #{bib.fullcite('lewis_1986c')}
  
  ##### Secondary
  
  - #{bib.fullcite('collins_hall_paul_2004')}.

  #### Counterfactual Theories: Lewis II (Monday 15 October)

  ##### Primary

  - #{bib.fullcite('lewis_1979')}.
  - #{bib.fullcite('lewis_1986b')}.
  
  ##### Secondary

  - #{bib.fullcite('elga_2000')}.
  - #{bib.fullcite('price_2010')}.
  
  #### Counterfactual Theories: Causal Models I (Monday 22 October)

  ##### Primary
  
  - #{bib.fullcite('woodward_2003')}, Chapters 1–2.

  ##### Secondary
  
  - #{bib.fullcite('hitchcock_2001b')}

  #### Counterfactual Theories: Causal Models II (Monday 29 October)

  ##### Primary

  - #{bib.fullcite('weslake_2011')}

  ##### Secondary

  - #{bib.fullcite('halpern_2005a')}
  - #{bib.fullcite('livengood_2011')}
  
  #### Counterfactual Theories: Causal Models III (Monday 5 November)
  
  ##### Primary
  
  - #{bib.fullcite('hitchcock_2007a')}
  - #{bib.fullcite('menzies_2007a')}.
  - #{bib.fullcite('maudlin_2004')}.

  ##### Secondary
  
  - #{bib.fullcite('halpern_2011a')}
  - #{bib.fullcite('menzies_2004')}. Expanded version available as a preprint at <http://philsci-archive.pitt.edu/1039/>.
  
  #### Two Concepts of Causation I (Monday 12 November)

  ##### Primary
  
  - #{bib.fullcite('hall_2004c')}.
  
  ##### Secondary
  
  - #{bib.fullcite('hall_2004b')}.
  - #{bib.fullcite('godfrey-smith_2007')}.

  #### Two Concepts of Causation II (Monday 19 November)

  ##### Primary

  - #{bib.fullcite('ney_2009')}
  - #{bib.fullcite('glynn_2012')}

  ##### Secondary
  
  - #{bib.fullcite('kment_2009')}
  
  #### Levels of Causation I (Monday 26 November)
  
  ##### Primary 

  - #{bib.fullcite('kim_1998')}, selections from Chapters 1, 2 and 3.
  
  ##### Secondary  

  - #{bib.fullcite('loewer_2001a')}.
  - #{bib.fullcite('bennett_2003')}

  #### Levels of Causation II (Monday 3 December)
  
  ##### Primary 

  - #{bib.fullcite('shapiro_2007a')}.
  - #{bib.fullcite('woodward_2008a')}.
  
  ##### Secondary  

  - #{bib.fullcite('baumgartner_2009a')}.
  - #{bib.fullcite('weslake_2009c')}

  #### Levels of Causation III (Monday 10 December)
  
  ##### Primary 

  - #{bib.fullcite('list_2009')}.

  ##### Secondary  

  - #{bib.fullcite('shapiro_2011a')}
  - #{bib.fullcite('weslake_2011b')}.
  

  [bibtex]: /content/attachments/causation.bib