Title: Brad Weslake &bull; Perception
Categories: teaching/2012
Template: class
Summary: A reading course on philosophy of perception.

- bib = Nesta::Plugin::Maldini::Bibliography.new('content/attachments/perception.bib')

%heading
  %h1 Perception

:markdown
  ## Spring 2012 ##

  <p align="center"><img width="400" src="http://bweslake.s3.amazonaws.com/images/descartes_apple.png" alt="From Descarte's The World">

  <blockquote class="caption">Descartes explains how the eyes can focus on a nearby object. From Stephen Gaukroger (Ed), <em>The World and Other Writings</em>, Cambridge University Press, Cambridge, 2004, p. 158.</blockquote></p>

  <a name="overview"> </a>

  ### Overview
  This is a reading course on philosophy of perception, with a focus on the [contents of perception][sep].  Please [contact me](mailto:bradley.weslake@rochester.edu?subject=Perception%20Reading%20Course) if you would like to participate.  Independent study forms can now be filled out [online][is].
  
  ### Draft Plan
  
  The reading list will evolve as the course progresses. A BibTeX file containing all the references below can be found [here][bibtex].
  
  #### Definitely Reading
  
  - #{bib.fullcite('travis_2004')}
  - #{bib.fullcite('siegel_2011')}
  
  #### Possibly Reading
  
  - #{bib.fullcite('chalmers_2006a')}
  - #{bib.fullcite('dretske_2006a')}
  - #{bib.fullcite('gupta_2006')}
  - #{bib.fullcite('johnston_2006')}
  - #{bib.fullcite('lormand_2006')}
  - #{bib.fullcite('martin_2006b')}
  - #{bib.fullcite('prinz_2006a')}
  - #{bib.fullcite('shoemaker_2006a')}

  [sep]: http://plato.stanford.edu/entries/perception-contents/ "The Contents of Perception"
  [is]: https://secure1.rochester.edu/registrar/forms/independent_study.php "Independent Study Form"
  [bibtex]: /content/attachments/perception.bib