Title: Brad Weslake &bull; Perception
Categories: teaching/2012
Template: class
Summary: A reading course on philosophy of perception.

- bib = Nesta::Plugin::Maldini::Bibliography.new('content/attachments/perception.bib')

%heading
  %h1 Perception

:markdown
  ## Spring 2012 ##

  <p align="center"><img width="400" src="http://bweslake.s3.amazonaws.com/images/descartes_apple.png" alt="From Descarte's The World">

  <blockquote class="caption">Descartes explains how the eyes can focus on a nearby object. From Stephen Gaukroger (Ed), <em>The World and Other Writings</em>, Cambridge University Press, Cambridge, 2004, p. 158.</blockquote></p>

  <a name="overview"> </a>

  ### Overview
  This is a graduate reading course on philosophy of perception, with a focus on the [contents of perception][sep].  Please [contact me](mailto:bradley.weslake@rochester.edu?subject=Perception%20Reading%20Course) if you would like to participate.  Independent study forms can now be filled out [online][is].  The reading list will evolve as the course progresses. A BibTeX file containing all the references below can be found [here][bibtex]. Unless otherwise advertised, we meet in the Lewis White Beck Memorial Library at 2pm&ndash;4pm.

  ### Schedule

  #### Thursday 19 January
  
  - #{bib.fullcite('siegel_2010')}
  - #{bib.fullcite('travis_2004')}

  #### Thursday 26 January
  
  - #{bib.fullcite('byrne_2009c')}
  - #{bib.fullcite('schellenberg_2011')}

  #### Thursday 2 February

  - #{bib.fullcite('siegel_2011', 'Introduction and Chapter 1')}.

  #### Thursday 9 February, 1pm&ndash;3pm

  - #{bib.fullcite('johnston_2006')}. \[[<span class="small">PDF</span>](http://reductioland.net/zuihitsu/protected/johnston_better_than_mere_knowledge.pdf)\]

  #### Thursday 16 February

  - #{bib.fullcite('siegel_2011', 'Chapter 2')}.

  #### Thursday 23 February

  - #{bib.fullcite('pautz_2009a')}.

  #### Thursday 1 March

  - #{bib.fullcite('siegel_2011', 'Chapter 3')}.

  #### Thursday 8 March

  - #{bib.fullcite('siegel_2011', 'Chapter 4')}.
  - #{bib.fullcite('bayne_2009a')}

  #### Thursday 22 March

  - #{bib.fullcite('masrour_2011')}
  
  #### Tuesday 27 March

  - #{bib.fullcite('siegel_2011', 'Chapter 5')}.

  ### Candidate Readings
  
  - #{bib.fullcite('beebee_2003a')}
  - #{bib.fullcite('burge_2009')}
  - #{bib.fullcite('butterfill_2009')}
  - #{bib.fullcite('chalmers_2006a')}
  - #{bib.fullcite('dretske_2006a')}
  - #{bib.fullcite('lormand_2006')}
  - #{bib.fullcite('martin_2006b')}
  - #{bib.fullcite('nanay_2011')}
  - #{bib.fullcite('peacocke_1986b')}
  - #{bib.fullcite('peacocke_2011')}
  - #{bib.fullcite('prinz_2006a')}
  - #{bib.fullcite('rips_2011')}
  - #{bib.fullcite('scholl_2000')}
  - #{bib.fullcite('shoemaker_2006a')}
  - #{bib.fullcite('siegel_2011a')}
  - #{bib.fullcite('woodward_2011a')}

  [sep]: http://plato.stanford.edu/entries/perception-contents/ "The Contents of Perception"
  [is]: https://secure1.rochester.edu/registrar/forms/independent_study.php "Independent Study Form"
  [bibtex]: /content/attachments/perception.bib