Title: Brad Weslake &bull; Philosophy of Science Reading Group
Categories: teaching/2012
Template: class
Summary: A reading course on philosophy of science.

- bib = Nesta::Plugin::Maldini::Bibliography.new('content/attachments/science.bib')

%heading
  %h1 Philosophy of Science Reading Group

:markdown
  ## Fall 2012 ##

  <br>
  <p align="center"><img width="400" src="http://bweslake.s3.amazonaws.com/images/ling.png" alt=""></p>

  <a name="overview"> </a>

  ### Overview
  This is a graduate-level reading group in philosophy of science, aiming at breadth rather than depth.  The reading list will evolve as the course progresses.  A BibTeX file containing all the references below can be found [here][bibtex]. Unless otherwise advertised, we meet in my office, 520 <a href="http://goo.gl/RSl9X">Lattimore Hall</a>, at 4pm&ndash;5pm.

  ### Schedule

  #### Wednesday 19 September

  - #{bib.fullcite('beebee_2011a')}

  #### Wednesday 26 September

  - #{bib.fullcite('railton_1981')}

  #### Tuesday 9 October, 3pm&ndash;5pm.

  - #{bib.fullcite('roush_2005a')}. <span class="small">[<a href="http://reductioland.net/zuihitsu/protected/roush-real-antirealism.pdf">PDF</a>]</span>

  #### Candidate Readings

  - #{bib.fullcite('sober_2011b')}
  - #{bib.fullcite('lange_2011a')}
  - #{bib.fullcite('loewer_2012a')}
  - #{bib.fullcite('lange_2012')}
  - #{bib.fullcite('lyon_2012a')}
  - #{bib.fullcite('saatsi_2012')}
  - #{bib.fullcite('stanford_2009')}


  [bibtex]: /content/attachments/science.bib