Title: Brad Weslake &bull; Philosophy of Technology
Categories: teaching/2026
Template: class
Summary: A course in philosophy of technology.

- bib = Nesta::Plugin::Maldini::Bibliography.new('content/attachments/technology.bib')

%heading
  %h1 Philosophy of Technology

:markdown

  ## Spring 2026

  <p align="center"><img width="50%" src="https://s3.amazonaws.com/bweslake/images/molnar-interruptions-1969.png" alt=" Vera Molnár, Interruptions, 1969"></p>
  <blockquote class="caption">Vera Molnár, <a href="https://www.nga.gov/artworks/216160-interruptions">Interruptions</a>, 1969.</blockquote>

  ### Details

  <table class="names">
  <thead>
  <tr><th>Course Code</th><th>Location</th><th>Times</th></tr>
  </thead>
  <tbody>
  <tr><td>PHIL-SHU 130</td><td>NB107</td><td>Tuesdays and Thursdays, 3:45pm to 5:00pm</td></tr>
  </tbody>
  </table>

  ### Instructor

  <table class="names">
  <thead>
  <tr><th>Name</th><th>Email</th><th>Office</th><th>Consultation Times</th></tr>
  </thead>
  <tbody>
  <tr><td><a href="https://bweslake.org/">Brad Weslake</a></td><td><a href="mailto:brad.weslake@nyu.edu">brad.weslake@nyu.edu</a></td><td>567 West Yangsi Road, Room W826</td><td><a href="https://calendly.com/bradweslake/student-consultation">By appointment</a></td></tr>
  </tbody>
  </table>

  ### Overview

  This is a course about artificial intelligence. First we focus on large language models, and consider whether they think, believe, understand, or know. Second, we consider how to tell whether an artificial system is conscious. Finally, we consider what to do when our capacity to build systems that make these good questions outstrips our capacity to give them good answers.

  ### Assessment

  <p>The final grade will be determined approximately as follows:</p>
  <table class="assess">
  <tbody>
  <tr><td>Attendance and participation: </td><td>10%</td></tr>
  <tr><td>In Class Exams: </td><td>20%</td></tr>
  <tr><td>Presentation: </td><td>10%</td></tr>
  <tr><td>Annotated Bibliography: </td><td>20%</td></tr>
  <tr><td>Paper (Outline): </td><td>15%</td></tr>
  <tr><td>Paper (Final): </td><td>25%</td></tr>
  </tbody>
  </table>

  <p>Assessment dates:</p>
  <table class="assess">
  <tbody>
  <tr><td>Paper (Outline): </td><td>17 April</td></tr>
  <tr><td>Paper (Final): </td><td>8 May</td></tr>
  </tbody>
  </table>

  ### Policies

  #### Lateness and Attendance

  Students are required to attend all classes on time. Lateness will count against your attendance and participation grade. Students missing 4 classes will receive an attendance and participation grade of F. Students missing 6 classes will receive a final grade of F.

  #### Integrity

  It is a condition on passing this course that students read and adhere to the NYU Shanghai policy on academic integrity as described in the current [NYU Shanghai Academic Bulletin](https://shanghai.nyu.edu/academics/curriculum/bulletin).

  ### Course Materials

  All notes, readings and assignments can be found on the course Brightspace site [here](https://brightspace.nyu.edu/d2l/home/355092).

  Selected books are available on [reserve](https://ares.library.nyu.edu/remoteauth/ares.dll?SessionID=N235248396B&Action=10&Form=60&Value=359743) in the library.

  ### Schedule

  #### Section 1: Artificial Cognition

  #### Meeting 1: What is Cognition? (Tuesday 20 January)

  ##### In Class Reading
  - #{bib.fullcite('bayne_2019')}.

  #### Meeting 2: Mind Design (Thursday 22 January)
  - #{bib.fullcite('haugeland_1997a')}.

  #### Meeting 3: The Turing Test (Tuesday 27 January)
  - #{bib.fullcite('turing_1950')}.

  #### Meeting 4: Psychologism and Behaviorism (Thursday 29 January)
  - #{bib.fullcite('block_1981')}.

  #### Meeting 5: The Chinese Room (Tuesday 3 February)
  - #{bib.fullcite('searle_1980')}.
  
  #### Meeting 6: Escaping the Chinese Room (Thursday 5 February)
  - Excerpt from #{bib.fullcite('boden_1988a')}.
  - Excerpt from #{bib.fullcite('block_1995')}.

  #### Meeting 7: Language Models I: Scepticism (Tuesday 10 February)
  - #{bib.fullcite('shanahan_2024')}.

  #### Meeting 8: Language Models II: Bibliotechnism (Thursday 12 February)
  - #{bib.fullcite('yiu_2024')}.

  #### Spring Festival Holiday

  #### Meeting 9: Language Models III: Interpretationism (Tuesday 24 February)
  - #{bib.fullcite('lederman_2024')}.

  #### Meeting 10: Language Models IV: Formal and Functional Competence (Thursday 26 February)
  - #{bib.fullcite('mahowald_2024')}.

  #### Meeting 11: Language Models V: Worldly and Instrumental Knowledge (Tuesday 3 March)
  - #{bib.fullcite('paul_2026')}.

  #### Section 2: Artificial Consciousness

  #### Meeting 12: (Thursday 5 March)

  - #{bib.fullcite('schwitzgebel_2026a')},  Chapter 1, “Hills and Fog”.

  ##### In Class Reading
  - #{bib.fullcite('ledoux_2023')}.

  ##### For Presentation
  - #{bib.fullcite('dehaene_2017')}.

  #### Meeting 13: (Tuesday 10 March)

  - #{bib.fullcite('schwitzgebel_2026a')}, Chapter 2, "What Is Consciousness? What Is AI?".
  
  ##### For Presentation
  - #{bib.fullcite('schwitzgebel_2024')}, Chapter 8, “Consciousness, Innocent  and Wonderful”, pp. 173-188. URI: <https://doi.org/10.1515/9780691239309-011>

  #### Meeting 14: (Thursday 12 March)

  - #{bib.fullcite('schwitzgebel_2026a')}, Chapter 3, "Ten Possibly Essential Features of Consciousness".
  
  ##### For Presentation
  - Excerpts from #{bib.fullcite('block_1995b')}.

  #### Meeting 15: (Tuesday 17 March)

  - #{bib.fullcite('schwitzgebel_2026a')}, Chapter 4, "Against Introspective and Conceptual Arguments for Essential Features".

  ##### For Presentation
  - #{bib.fullcite('schwitzgebel_2008')}.

  #### Meeting 16: (Thursday 19 March)

  - #{bib.fullcite('schwitzgebel_2026a')}, Chapter 5, "Materialism and Functionalism".

  ##### For Presentation
  - #{bib.fullcite('cutter_2025')}.

  #### Meeting 17: (Tuesday 24 March)

  - #{bib.fullcite('schwitzgebel_2026a')}, Chapter 6, "The Turing Test and the Chinese Room".

  ##### For Presentation
  - #{bib.fullcite('schneider_2021')}, Chapter 4, “How to Catch an AI Zombie: Testing for Consciousness in Machines”, pp. 46-61.

  #### Meeting 18: (Thursday 26 March)

  - #{bib.fullcite('schwitzgebel_2026a')}, Chapter 7, "The Mimicry Argument Against AI Consciousness".

  ##### For Presentation
  - #{bib.fullcite('andrews_2023')}.

  #### Meeting 19: (Tuesday 31 March)

  - #{bib.fullcite('schwitzgebel_2026a')}, Chapter 8, "Global Workspace Theories and Higher Order Theories".

  ##### For Presentation
  - #{bib.fullcite('dehaene_2014')}, Chapter 5, "Theorizing Consciousness", pp. 161-199.

  #### Meeting 20: (Thursday 2 April)

  - #{bib.fullcite('schwitzgebel_2026a')}, Chapter 9, "Integrated Information, Local Recurrence, Associative Learning, and Iterative Natural Kinds".

  #### Qingming Festival Holiday

  #### Meeting 21: (Tuesday 14 April)

  - #{bib.fullcite('schwitzgebel_2026a')}, Chapter 10, "Does Biological Substrate Matter?".
  - #{bib.fullcite('bisson_1991')}.

  ##### For Presentation
  - #{bib.fullcite('block_2026')}.

  #### Meeting 22: (Thursday 16 April)

  - #{bib.fullcite('schwitzgebel_2026a')}, Chapter 11, "The Leapfrog Hypothesis and the Social Semi-Solution".

  #### Section 3: Risk and Precaution

  #### Meeting 23: Complacency (Tuesday 21 April)
  - #{bib.fullcite('birch_2024')}, Chapter 15, "Against Complacency", pp. 299–312. URI: <https://doi.org/10.1093/9780191966729.003.0016>

  #### Meeting 24: The Gaming Problem (Thursday 23 April)
  - #{bib.fullcite('birch_2024')}, Chapter 16, "Large Language Models and the Gaming Problem", pp. 313–322. URI: <https://doi.org/10.1093/9780191966729.003.0017>

  #### Meeting 25: The Run Ahead Principle (Tuesday 28 April)
  - #{bib.fullcite('birch_2024')}, Chapter 17, "The Run Ahead Principle", pp. 323–331. URI: <https://doi.org/10.1093/9780191966729.003.0018>

  #### Meeting 26: Sacrificing Humans for Insects and AI (Thursday 30 April)
  - #{bib.fullcite('schwitzgebel_2026')}.

  #### Meeting 27: Final Discussion I (Tuesday 5 May)

  #### Meeting 28: Final Discussion II (Thursday 7 May)

  <br/>
  *Updated*: 19 January 2026