Template: article
Title: Brad Weslake &bull; Philosophy and the Veil
Categories: islam, france
Author: Brad Weslake
Date: 15 November 2016
Summary: Text for a brief lecture on the relevance of philosophy to the burkini bans in France.

- bib = Nesta::Plugin::Maldini::Bibliography.new('content/attachments/blog.bib')

%heading
  %h1 Philosophy and the Veil

:markdown

  ## Context

  What follows is the text that formed the basis for a brief lecture on the relevance of philosophy to the burkini bans in France. It was presented at an event for students in the course *Perspectives on the Humanities*[^fn1] at NYU Shanghai on 25 October 2016. It was not initially designed to be made public, but I am doing so in order to provide some context for students who were not at the event and who have read the article by Jeanne Le Galcher Baron, “[What is the Real Controversy?](http://oncenturyavenue.org/2016/11/what-is-the-real-controversy/)”, published in *On Century Avenue* on 10 November 2016. See also the [comment](http://oncenturyavenue.org/2016/11/what-is-the-real-controversy/#comment-5222) on that article I wrote with Heather Lee and Lena Scheen. Links to all of the sources I refer to can be found in the footnotes and references at the end of this page. If any NYU Shanghai students would like to talk with me about this, or about anything else discussed at the event, my door is always open.

  ## Introduction

  I want to begin by saying that in reading about the burkini ban in preparation for our discussion today, I have come to appreciate more and more that the issues involved are extremely complex. As I see it, one of the central aims of the humanities as a field is to enable us to see this complexity, where it exists, and not to simplify or distort things in our attempt to understand them. So in what follows, what I would like to illustrate is how events such as the burkini ban raise some deep and complex philosophical issues. My aim is simply to *identify* some of these issues, not to solve them.

  ## Philosophy and Current Events

  Why is philosophy in particular relevant to understanding current events such as the burkini ban? Well, first we need to understand what philosophy is. There is certainly no definition of philosophy that all philosophers would agree with (and in this respect philosophy is no different than any other discipline), but my favourite definition was given by the American philosopher Wilfrid Sellars in his essay *Philosophy and the Scientific Image of Man* #{bib.parencite('sellars_1962')}, which begins:
  
    > The aim of philosophy, abstractly formulated, is to understand how things in the broadest possible sense of the term hang together in the broadest possible sense of the term.

  Or to put it more simply:
  
    > Philosophy aims to understand how things hang together.
  
  Sellars goes on to explain what he means by this:
  
    > What is characteristic of philosophy is not a special subject-matter, but the aim of knowing one's way around with respect to the subject-matters of all the special disciplines.

  The aim of philosophy, on this conception, is not to discover new truths, distinct from the truths of the other disciplines, but rather to put together the truths of the other disciplines into a single “stereoscopic vision” as Sellars puts it later in his essay.

  Now why should you want to understand how things hang together, in this sense? One reason is that without this variety of understanding, you cannot properly appreciate the scope and limits of any of the other disciplines. To what extent can the methods of political science illuminate the burkini ban, and what are the limitations of these methods? To what extent can the methods of history illuminate the burkini ban, and what are the limitations of these methods? Without some reflection on the methods themselves, and reflection on how they relate to each other---without, that is, a sense of how they hang together---we cannot answer these questions.

  Another reason is that we often want to understand some particular event to the greatest extent possible, by using *all* the tools at our disposal. For some events, these tools will all lie within a single discipline, as for example with the decay of an atom. There, the methods of physics will suffice for complete understanding. But when we are dealing with complex, socially significant events involving human actions, such as those involved in the burkini ban, we need to use every tool we have---the tools from all of our disciplines. And again, to do this we need to know how they all hang together.

  In what follows, I will *not* attempt to describe the big picture: to say how everything hangs together. I only have 20 minutes! Instead, I will very briefly illustrate some parts of the big picture,  by introducing some philosophical questions that arise in the case of the burkini ban. What makes them distinctly *philosophical*, these questions, is that they are all *abstract* in a distinctive way which demands that---you guessed it---to answer them requires seeing how everything hangs together.

  Before I begin, I should say that there are many, many more philosophical questions that arise in addition to the ones I will discuss. Most obviously, there are issues concerning the philosophical foundations of feminism and multiculturalism. But I have chosen to speak about some slightly more specific philosophical issues today.

  ## Codifying Values in the Law

  The first question concerns how to articulate the boundaries of free expression, and in particular the question of how the value of free expression should be codified in the law. By expression, I don't only mean speech in the narrow sense, but all actions that essentially involve communicating meaning: including, for example, modes of dress.

  Now there are obviously deep philosophical issues concerning the value of free expression in the first place: why is this something that should be given high priority in organising a society? It isn't *obvious* that it should be, and it isn't *obvious* what justification should be given for doing so. But the question I have in mind is a different one. It concerns how to codify the value in the law so that it is properly balanced against other social values.

  In France, this question has taken the form of a debate about what constitutes “public order”, the disturbance of which was the justification used by French mayors to ban the burkini. The *reason* this has been used as a justification is that in the 1905 French law *Concerning the Separation of the Churches and State*, the free exercise of religion is protected *except* when it threatens public order.

  But what constitutes public order? The basis on which the burkini ban was declared illegal by the Council of State, France’s highest administrative court, was that the conception of public order in play is a *material* one rather than an *immaterial* one. That is, there must be some immediate, concrete risk presented by the action that is to be prohibited. The vague sense that the burkini represents some form of Islamic fundamentalism is an immaterial risk in this sense and hence cannot constitute grounds for the ban. Or so the court ruled[^fn2].

  In ruling this way, the Council of State is making an important claim about what constitutes public order: the fear caused in some people by the sight of the burkini is not in itself a material effect of the sort that constitutes a threat to public order properly understood. But the possibility of an alternative interpretation is obvious, and indeed in ruling in the way it did, the court overturned some earlier precedents that had advanced an immaterial conception of public order. 

  What this illustrates is the way in which the founding values of a society constrain but do not determine the form of its legal codes. We can agree that public order and free expression are both social values, but how should these be codified in the law? To determine the answer to this is, in an important way, to do philosophy. (And, I should say, to determine what *makes* an answer to this question a good answer is in an even more obvious sense to do philosophy.)[^fn3]

  So that is the first philosophical issue: how are values to be weighed against each other in contexts where there are multiple ways of codifying them in the law. For what it's worth, I think the Council of State made the right choice.

  ## How Expressions Acquire Meaning

  The second question I would like to discuss concerns the way in which the meanings of our expressions are determined.  In the case of language, philosophers have often made fun of what is sometimes called the *Humpty Dumpty* theory of meaning, according to which the meanings of words are fixed by the intentions of speakers on specific occasions of use.

  It is called the Humpty Dumpty theory because of a conversation in *Through the Looking Glass*, the sequel to *Alice's Adventures in Wonderland*, by Lewis Carroll---who, incidentally, produced some very important work in the philosophy of logic. Here is the relevant part of the conversation #{bib.parencite('carroll_1871','Chapter 6')}:
        
    > ‘When I use a word,’ Humpty Dumpty said, in rather a scornful tone, ‘it means just what I choose it to mean — neither more nor less.’

  Now the idea that linguistic meaning is this pliable is a mistake. The meanings of our words are determined *socially*, and as a consequence cannot be changed by the intentions of a single speaker on a single occasion of use. If I say something offensive to you, it is no excuse to claim that I wanted my words to mean something different.

  Exactly the same point is true for the meanings of expressions more generally. Just as you cannot declare by fiat the meaning of a word, you cannot declare by fiat the meaning of a piece of clothing. What you *intend* to signify may be different from what *in fact* you signify.

  In the case of the burkini ban, and much of the commentary surrounding it, we can, I think, see an instance of a sort of inverse fallacy of this sort, in which the meaning of a social practice is supposed to be determined by something wholly *external* to the practice.

  An avalanche of commentary on the burkini ban involves commentators---frequently non-Muslim, frequently non-European, frequently non-female---that is, people like *me*, I am embarrassed to say---confidently declaring what the burkini represents, what it *means*. Indeed, the quote from Manuel Valls, the French Prime Minister, that some of you have read is an instance of this. Valls said: 
  
    > There is the idea that, by nature, women are harlots, impure, that they should be completely covered.

  And so is the quote from David Lisnard, the  Mayor of Cannes, according to which it the burkini is:
    
    > a symbol of Islamic extremism

  These claims are as absurd as the claim that we can control the meanings of our words, all by ourselves. We might call this the *inverse Humpty Dumpty fallacy*. What it overlooks is that the meanings of cultural practices derive from the members that sustain them, and not from those who comment on them from an external vantage point.

  This isn't to say, of course, that someone external to a practice cannot come to understand these meanings. It is just that this person needs to pay attention to the practices themselves, and their significance for the participants.

  The most influential work of this sort on this particular issue was produced by the great Martiniquais philosopher Frantz Fanon, in his essay *Algeria Unveiled* #{bib.parencite('fanon_1965a')}, written during the War of Algerian Independence. Fanon is particularly acute in this essay on the way in which colonial powers project their fantasies onto the social practices of colonised societies, and how they frequently wheel in supposedly scientific expertise to support these fantasies. What Fanon describes in the essay is a kind of dynamics of the meaning of the Muslim veil in Algeria, as it evolved in response to the French occupation. As he describes it, the veil became a symbol for *Algerians* of their national identity, and for *France* of the extent to which they had been able to dismantle Algerian culture and substitute it with French culture. The veil was not especially significant for Algerians prior to the French occupation, and was simply one of *many* aspects of difference between France and Algeria. It only crystalised into a site of national identity when it was singled out for focus by the French.

  In this way, the debates over the veil in Algeria came to stand in for much larger debates---something that is quite obviously being recapitulated in the debates in France today. It is obvious to everyone participating in them that the debates about the burkini are not really about the burkini. What they are about is the place of religious pluralism in a secular republic, and many other things besides.

  So that is the second philosophical issue, or really a set of philosophical issues. How are the meanings of social practices determined, and how do they evolve under social pressure? And what are the ethical and political consequences of the answers to those questions? While I haven't even begun to provide answers to these questions, I do hope to have persuaded you of at least one thing: if we want to understand the meaning of a practice, a good place to start is to talk with the people who are engaged in it[^fn4].

  ## Conclusion

  I said that philosophers don't agree on a definition for philosophy, and I gave you my favourite definition. Now that I have introduced some philosophical questions, I can give you a better characterisation of what philosophy is: it is what you are doing when you are thinking about questions such as these.

  [^fn1]: This is a core curriculum requirement for all students at NYU Shanghai. Information on the course and the associated event series can be found in the [NYU Shanghai Academic Bulletin](https://shanghai.nyu.edu/academics/curriculum/bulletin).

  [^fn2]: These comments on the basis for the decision are based on the discussion by  Rim-Sarah Alouane, “The French Council of State on the Burkini---Part 1: Reflections on Public Order”, *Oxford Human Rights Hub*, 12 October 2016: <http://ohrh.law.ox.ac.uk/the-french-council-of-state-on-the-burkini-part-1-reflections-on-public-order/>.

  [^fn3]: For a sympathetic exploration of how we might take into account the value of false beliefs about immigration and culture, see #{bib.textcite('waldron_2016')}.

  [^fn4]: Another question concerns the relationship of the answers to these questions to questions concerning the construction of our identities. This is beautifully explored by Anthony Appiah in his 2016 Reith Lectures, *Mistaken Identities*, which will all eventually be made available for download here: <https://goo.gl/ZDB4J2>.

  ## References

  #{bib.printbibliography()}