Title: Brad Weslake &bull; Philosophy of Mind
Categories: teaching/2025
Template: class
Summary: An introduction to philosophy of mind.

- bib = Nesta::Plugin::Maldini::Bibliography.new('content/attachments/mind.bib')

%heading
  %h1 Philosophy of Mind

:markdown

  ## Fall 2025

  <p align="center"><img width="50%" src="https://s3.amazonaws.com/bweslake/images/saban-analia-perceptron-2024.jpg" alt="Analia Saban, Perceptron, 2024"></p>
  <blockquote class="caption">Analia Saban, <a href="https://www.tanyabonakdargallery.com/content/feature/3449/artworks-12658-analia-saban-perceptron-2024/">Perceptron</a>, 2024.</blockquote>

  ### Details

  <table class="names">
  <thead>
  <tr><th>Course Code</th><th>Location</th><th> Times</th></tr>
  </thead>
  <tbody>
  <tr><td>PHIL-SHU 80</td><td>567 West Yangsi Road, Room EB111</td><td>Tuesdays and Thursdays, 3:45pm to 5:00pm</td></tr>
  </tbody>
  </table>

  ### Instructor

  <table class="names">
  <thead>
  <tr><th>Name</th><th>Email</th><th>Office</th><th>Consultation Times</th></tr>
  </thead>
  <tbody>
  <tr><td><a href="https://bweslake.org/">Brad Weslake</a></td><td><a href="mailto:brad.weslake@nyu.edu">brad.weslake@nyu.edu</a></td><td>567 West Yangsi Road, Room W826</td><td><a href="https://calendly.com/bradweslake/student-consultation">By appointment</a></td></tr>
  </tbody>
  </table>

  ### Overview
  This class is an introduction to philosophy of mind.  No prior philosophy, psychology or neuroscience will be assumed.

  ### Assessment

  <p>The final grade will be determined approximately as follows:</p>
  <table class="assess">
  <tbody>
  <tr><td>Attendance and participation: </td><td>10%</td></tr>
  <tr><td>First Oral Exam: </td><td>10%</td></tr>
  <tr><td>Second Oral Exam: </td><td>15%</td></tr>
  <tr><td>Paper (Outline): </td><td>10%</td></tr>
  <tr><td>Paper (Draft): </td><td>15%</td></tr>
  <tr><td>Paper (Final): </td><td>20%</td></tr>
  <tr><td>Third Oral Exam: </td><td>20%</td></tr>
  </tbody>
  </table>

  <p>Assessment dates:</p>
  <table class="assess">
  <tbody>
  <tr><td>First Oral Exam: </td><td>22 September-2 October</td><td></td></tr>
  <tr><td>Second Oral Exam: </td><td>20-30 October</td><td></td></tr>
  <tr><td>Paper (Outline): </td><td>Friday 7 November</td><td></td></tr>
  <tr><td>Paper (Draft): </td><td>Friday 21 November</td><td></td></tr>
  <tr><td>Paper (Final): </td><td>Friday 5 December</td><td></td></tr>
  <tr><td>Third Oral Exam: </td><td>8-12 December</td><td></td></tr>
  </tbody>
  </table>

  ### Policies

  #### Lateness and Attendance 

  Students are required to attend all classes on time. Lateness will count against your  attendance and participation grade. Students missing 4 classes will receive an attendance and participation grade of F. Students missing 6 classes will receive a final grade of F.

  #### Integrity

  It is a condition on passing this course that students read and adhere to the NYU Shanghai policy on academic integrity as described in the current [NYU Shanghai Academic Bulletin](https://shanghai.nyu.edu/academics/curriculum/bulletin).

  ### Course Materials
  
  All notes, readings and assignments can be found [here](https://brightspace.nyu.edu/d2l/home/478333).
  
  The following books have been placed on [reserve](https://ares.library.nyu.edu/remoteauth/ares.dll?SessionID=A191642569V&Action=10&Form=60&Value=335919) in the library:
  
  - #{bib.fullcite('kim_2010a')}.
  - #{bib.fullcite('chalmers_2002')}.

  ### Schedule

  #### Meeting 1: Introductory Discussion (Tuesday 2 September)

  #### Meeting 2: The Mark of the Mental (Thursday 4 September)

  ##### Primary Reading
  
  - #{bib.fullcite('bayne_2021', 'Chapter 1, pp. 6–23')}.

  ##### Secondary Reading

  - #{bib.fullcite('crane_1998')}.
  - #{bib.fullcite('strawson_2010', 'Chapter 6, pp. 145–176')}.
  
  #### Meeting 3: Dualism: Epistemological Arguments (Tuesday 9 September)

  ##### Primary Reading
  - #{bib.fullcite('descartes_1984', 'Meditations II and VI, pp. 16–23, 50–62')}.
  - #{bib.fullcite('braddon-mitchell_2007a', 'pp. 5–8')}.

  ##### Secondary Reading
  - #{bib.fullcite('wilson_1976')}.

  #### Meeting 4: Dualism: The Problem of Interaction (Thursday 11 September)

  ##### Primary Reading
  - #{bib.fullcite('descartes_1985', 'The Passions of The Soul, §§30-34, pp. 339–341')}.
  - #{bib.fullcite('shapiro_2007b', 'pp. 61-73')}.

  ##### Secondary Reading
  - #{bib.fullcite('garber_1983')}.

  #### Meeting 5: Dualism: The Pairing Problem (Tuesday 16 September)

  ##### Primary Reading
  - #{bib.fullcite('kim_2001')}.

  ##### Secondary Reading
  - #{bib.fullcite('strawson_2008b')}.

  #### Meeting 6: Review (Thursday 18 September)

  #### Meeting 7: Behaviour and Knowledge of Minds I (Tuesday 23 September)

  ##### Primary Reading
  - #{bib.fullcite('ryle_1949', 'Chapter 1, pp. 1–13')}.

  ##### Secondary Reading
  - #{bib.fullcite('tanney_2009')}.

  #### Meeting 8: Behaviour and Knowledge of Minds II (Thursday 25 September)

  ##### Primary Reading
  - #{bib.fullcite('paul_2018')}.

  ##### Secondary Reading
  - #{bib.fullcite('carruthers_2009a')}.  

  #### National Day Holiday/Mid-Autumn Festival

  #### Meeting 9: Behaviourism (Tuesday 7 October)

  ##### Primary Reading
  - #{bib.fullcite('kim_2010a', 'Chapter 3, pp. 61–90')}.
  
  ##### Secondary Reading
  - #{bib.fullcite('crawford_2013')}.

  #### Meeting 10: The Identity Theory I (Thursday 9 October)
  
  ##### Primary Reading
  - #{bib.fullcite('place_1956')}.  
  - #{bib.fullcite('smart_1959')}.

  #### Meeting 11: The Identity Theory II (Tuesday 14 October)

  ##### Primary Reading
  - #{bib.fullcite('lewis_1966')}.

  ##### Secondary Reading
  - #{bib.fullcite('lewis_1972')}.  

  #### Meeting 12: Review (Thursday 16 October)

  #### Meeting 13: The Identity Theory III (Tuesday 21 October)

  ##### Primary Reading
  - #{bib.fullcite('nagel_1974')}.

  ##### Secondary Reading
  - #{bib.fullcite('akins_1993')}.  
  - #{bib.fullcite('akins_1993a')}.  

  #### Meeting 14: Functionalism I (Thursday 23 October)

  ##### Primary Reading
  - #{bib.fullcite('putnam_1967a')}. Reprinted as “The Nature of Mental States” in Timothy O'Connor and David Robb, *Philosophy of Mind: Contemporary Readings*, Routledge, London, pp. 210–221.
  - #{bib.fullcite('lewis_1980c')}.

  ##### Secondary Reading
  - #{bib.fullcite('polger_2009a')}.

  #### Meeting 15: Functionalism II (Tuesday 28 October)

  ##### Primary Reading
  - #{bib.fullcite('fodor_1981a')}.

  #### Meeting 16: Writing a Philosophy Paper (Thursday 30 October)

  ##### Primary Reading  
  - Jim Pryor, [Guidelines on Writing a Philosophy Paper](https://www.jimpryor.net/teaching/guidelines/writing.html), 2012.
  
  #### Meeting 17: Functionalism and Consciousness I (Tuesday 4 November)

  ##### Primary Reading
  - #{bib.fullcite('block_1978')}. Revised version published in Brian Beakley and Peter Ludlow, *The Philosophy of Mind: Classical Problems/Contemporary Issues*, MIT Press, Cambridge MA, 2nd Ed, 2006, pp. 107–131.

  #### No Meetings Thursday 6 November and Sunday 9 November

  #### Meeting 18: Functionalism and Consciousness II (Tuesday 11 November)

  ##### Primary Reading
  - #{bib.fullcite('chalmers_1995')}.

  #### Meeting 19: Propositional Attitudes: Eliminativism (Thursday 13 November)

  ##### Primary Reading  

  - #{bib.fullcite('churchland_1981')}.

  #### Meeting 20: Propositional Attitudes: Representationalism I (Tuesday 18 November)

  ##### Primary Reading  

  - #{bib.fullcite('fodor_1978a')}.

  #### Meeting 21: Propositional Attitudes: Dispositionalism (Thursday 20 November)

  ##### Primary Reading  

  - #{bib.fullcite('schwitzgebel_2013')}.

  #### Meeting 22: Propositional Attitudes: Representationalism II (Tuesday 25 November)

  ##### Primary Reading  

  - #{bib.fullcite('quilty-dunn_2018')}.

  ##### Secondary Reading  

  - #{bib.fullcite('pautz_2021')}.
  - #{bib.fullcite('crane_2022')}.

  #### Thanksgiving
  
  #### Meeting 23: Animal Thought I (Tuesday 2 December)

  ##### Primary Reading  
  - #{bib.fullcite('cheney_2007', 'Chapter 11, pp. 248–272')}.

  #### Meeting 24: Review (Thursday 4 December)

  #### Meeting 25: Animal Thought II (Tuesday 9 December)

  ##### Primary Reading  
  - #{bib.fullcite('camp_2009')}.

  #### Meeting 26: Final Discussion (Thursday 11 December)
  
  *Updated*: 6 October 2025