Title: Brad Weslake &bull; Philosophy of Science
Categories: teaching/2023
Template: class
Summary:  An advanced introduction to the philosophy of science.

- bib = Nesta::Plugin::Maldini::Bibliography.new('content/attachments/science.bib')

%heading
  %h1 Philosophy of Science

:markdown

  ## Fall 2023

  <p align="center"><img width="60%" src="https://bweslake.s3.amazonaws.com/images/microraptor.jpg" alt="Reconstruction of the Early Cretaceous paravian dinosaur, <em>Microraptor</em>"></p>
  <blockquote class="caption">A reconstruction of the Early Cretaceous paravian dinosaur, <em>Microraptor</em>. Analysis of melanosomes from fossil samples reveals that its feathers were an iridescent black. From Li, Quanguo <em>et al</em>, “<a href="https://doi.org/10.1126/science.1213780">Reconstruction of <em>Microraptor</em> and the Evolution of Iridescent Plumage</a>”, in <em>Science</em>, Vol 335, Issue 6073, pp. 1215-1219, 9 October 2012.</blockquote>

  ### Details

  <table class="names">
  <thead>
  <tr><th>Course Code</th><th>Location</th><th> Times</th></tr>
  </thead>
  <tbody>
  <tr><td>PHIL-SHU 90</td><td>567 West Yangsi Road, Room E204</td><td>Tuesdays and Thursdays, 9:45am—11:00am</td></tr>
  </tbody>
  </table>

  ### Instructor

  <table class="names">
  <thead>
  <tr><th>Name</th><th>Email</th><th>Office</th><th>Consultation Times</th></tr>
  </thead>
  <tbody>
  <tr><td><a href="https://bweslake.org/">Brad Weslake</a></td><td><a href="mailto:brad.weslake@nyu.edu">brad.weslake@nyu.edu</a></td><td>567 West Yangsi Road, Room W826</td><td><a href="https://calendly.com/bradweslake/student-consultation">By appointment</a></td></tr>
  </tbody>
  </table>

  ### Overview
  This class is an advanced introduction to the philosophy of science.

  ### Assessment

  <p>The final grade will be determined approximately as follows:</p>
  <table class="assess">
  <tbody>
  <tr><td>Attendance and participation: </td><td>10%</td></tr>
  <tr><td>First Oral Exam: </td><td>15%</td></tr>
  <tr><td>Second Oral Exam: </td><td>20%</td></tr>
  <tr><td>Paper (Outline): </td><td>10%</td></tr>
  <tr><td>Paper (Draft): </td><td>15%</td></tr>
  <tr><td>Paper (Final): </td><td>30%</td></tr>
  </tbody>
  </table>

  <p>Assessment dates:</p>
  <table class="assess">
  <tbody>
  <tr><td>First Oral Exam: </td><td>After 19 September</td><td></td></tr>
  <tr><td>Second Oral Exam: </td><td>After 24 October</td><td></td></tr>
  <tr><td>Paper (Outline): </td><td>Friday 17 November</td><td></td></tr>
  <tr><td>Paper (Draft): </td><td>Friday 1 December</td><td></td></tr>
  <tr><td>Paper (Final): </td><td>Friday 8 December</td><td></td></tr>
  </tbody>
  </table>

  ### Policies

  #### Lateness and Attendance 

  Students are required to attend all classes on time. Lateness will count against your  attendance and participation grade. Students missing 4 classes will receive an attendance and participation grade of F. Students missing 6 classes will receive a final grade of F.

  #### Integrity

  It is a condition on passing this course that students read and adhere to the NYU Shanghai policy on academic integrity as described in the current [NYU Shanghai Academic Bulletin](https://shanghai.nyu.edu/academics/curriculum/bulletin).

  ### Course Materials
  
  All notes, readings and assignments can be found on the course Brightspace site [here](https://brightspace.nyu.edu/d2l/home/309988).
  
  Selected books are available on [reserve](https://ares.library.nyu.edu/remoteauth/ares.dll?SessionID=O045634226N&Action=10&Form=60&Value=247909) in the library.
  
  ### Schedule

  #### Meeting 1: Introductory Discussion (Tuesday 29 August)

  ### Section I: Laws

  #### Meeting 2: Against Fundamentalism (Thursday 31 August)
  - #{bib.fullcite('cartwright_1994')}.
    
  #### Meeting 3: For Fundamentalism (Tuesday 5 September)
  - #{bib.fullcite('sklar_2003')}.
  
  #### Meeting 4: Regularities (Thursday 7 September)
  - #{bib.fullcite('bird_1998a')}. For today, read pp. 17–32.

  #### Meeting 5: Necessities (Tuesday 12 September)
  - #{bib.fullcite('bird_1998a')}. For today, read pp. 33–40.

  #### Meeting 6: Governing (Thursday 14 September)
  - #{bib.fullcite('beebee_2000')}.

  #### Meeting 7: Review (Tuesday 19 September)

  ### Section II: Explanation

  #### Meeting 8: Nomological Theories (Thursday 21 September)
  - #{bib.fullcite('hempel_1965b')}. Read §§1–2.2.

  #### Meeting 9: Singular Causal Explanations (Tuesday 26 September)
  - #{bib.fullcite('woodward_2003e')}.

  #### Meeting 10: Causal Theories I (Thursday 28 September)
  - #{bib.fullcite('lewis_1986')}.

  #### Mid-Autumn Festival and National Day Holiday: Fall Break

  #### Meeting 11: Causal Theories II (Tuesday 10 October)

  - #{bib.fullcite('sober_1983')}.  

  #### Meeting 12: Counterfactual Theories (Thursday 12 October)

  - #{bib.fullcite('woodward_2003c')}.

  #### Meeting 13: Explanatory Depth (Tuesday 17 October)

  - #{bib.fullcite('woodward_2003d')}.
  - #{bib.fullcite('weslake_2010')}.
  
  #### Meeting 14: Visit from [Michael Strevens](http://strevens.org/) (Thursday 19 October)

  - #{bib.fullcite('strevens_2004')}.

  #### Meeting 15: Review I (Tuesday 24 October)

  #### Meeting 16: Review II (Thursday 26 October)

  ### Section III: Values

  #### Meeting 17: Free Inquiry I (Tuesday 31 October)

  - #{bib.fullcite('kitcher_1997')}.

  #### Meeting 18: Free Inquiry II (Thursday 2 November)

  - #{bib.fullcite('talisse_2007')}.
  - #{bib.fullcite('kitcher_2007b')}.

  #### Meeting 19: Free Inquiry III (Tuesday 7 November)

  - #{bib.fullcite('wray_2001')}.

  #### Meeting 20: Amplified Inductive Risk (Thursday 9 November)
  
  - #{bib.fullcite('havstad_2022')}.
  
  #### Meeting 21: (Sunday 12 November)

  #### Meeting 22: (Tuesday 14 November)

  #### Meeting 23: (Thursday 16 November)

  #### Meeting 24: (Tuesday 21 November)

  #### Thanksgiving Holiday

  #### Meeting 25: (Tuesday 28 November)

  #### Meeting 26: (Thursday 30 November)
  
  #### Meeting 27: (Tuesday 5 December)

  #### Meeting 28: (Thursday 7 December)
  
  *Updated*: 31 October 2023