Title: Brad Weslake &bull; Philosophy of Technology
Categories: teaching/2023
Template: class
Summary: A course in philosophy of technology, with a focus on what we can learn about artificial minds by thinking about the nature and scope of minds more generally.

- bib = Nesta::Plugin::Maldini::Bibliography.new('content/attachments/technology.bib')

%heading
  %h1 Philosophy of Technology

:markdown

  ## Spring 2023

  <p align="center"><img width="100%" src="https://bweslake.s3.amazonaws.com/images/kay-bee.jpg" alt="Andreas Kay, Orchid bee, Euglossa sp., Euglossini"></p>
  <blockquote class="caption">Andreas Kay, <a href="https://www.flickr.com/photos/andreaskay/27219431458">Orchid Bee (<em>Euglossa, Euglossini)</a></em></blockquote>

  ### Details

  <table class="names">
  <thead>
  <tr><th>Course Code</th><th>Location</th><th>Times</th></tr>
  </thead>
  <tbody>
  <tr><td>PHIL-SHU 130</td><td>567 West Yangsi Road, Room EB118</td><td>Wednesdays, 5:00pm to 7:30pm</td></tr>
  </tbody>
  </table>

  ### Instructors

  <table class="names">
  <thead>
  <tr><th>Name</th><th>Email</th><th>Office</th><th>Consultation Times</th></tr>
  </thead>
  <tbody>
  <tr><td><a href="https://bweslake.org/">Brad Weslake</a></td><td><a href="mailto:brad.weslake@nyu.edu">brad.weslake@nyu.edu</a></td><td>567 West Yangsi Road, Room W826</td><td><a href="https://calendly.com/bradweslake/student-consultation">By appointment</a></td></tr>
  <tr><td><a href="http://annagreenspan.com/">Anna Greenspan</a></td><td><a href="mailto:ag158@nyu.edu">ag158@nyu.edu</a></td><td>567 West Yangsi Road, Room W847</td><td>Wednesday 1:30pm-3:30pm, or by appointment</td></tr>
  </tbody>
  </table>

  ### Overview
  The fundamental question of this course is whether, and under what conditions, it makes sense to attribute minds to technological artefacts. The approach we take is to consider this question in light of much more general questions about both the nature of mind, and the extent of mental phenomena in the universe. Our hope is that by considering these general questions, the more specific questions about the minds of technological artefacts will become more tractable. The hypothesis the course explores is that the unclarities we face when considering whether, for example, current forms of artificial intelligence have minds trace back to more general unclarities about what it is to have a mind in the first place.

  ### Assessment

  <p>Requirements:</p>
  <ul class="assess">
  <li>Attendance and class participation.</li>
  <li>Online forum participation.</li>
  <li>Class notes.</li>
  <li>One oral exam.</li>
  <li>One 8&ndash;10 page paper.</li>

  </ul>

  <p>The final grade will be determined approximately as follows:</p>
  <table class="assess">
  <tbody>
  <tr><td>Attendance and class participation: </td><td>15% </td></tr>
  <tr><td>Online forum participation: </td><td>15% </td></tr>
  <tr><td>Class notes: </td><td>10% </td></tr>
  <tr><td>Oral exam: </td><td>20% </td></tr>
  <tr><td>Paper proposal: </td><td>15% </td></tr>
  <tr><td>Paper: </td><td>25% </td></tr>
  </tbody>
  </table>

  ### Policies

  #### Attendance and Lateness

  Students are required to attend all classes on time. An explanation for every absence or late attendance must be submitted in writing to the instructors. Every failure to attend class on time will count against the component of the final grade awarded for attendance and participation, unless an explanation is received and approved at least one day prior to the class in question. Requests for exceptions will be considered on a case by case basis, and typically granted only when related to an illness or other unforeseeable change in life circumstance.

  #### Integrity

  It is a condition on passing this course that students read and adhere to the NYU Shanghai policy on academic integrity as described in the current [NYU Shanghai Academic Bulletin](https://shanghai.nyu.edu/academics/curriculum/bulletin).

  ### Course Materials
  
  All notes, readings and assignments can be found [here](https://brightspace.nyu.edu/d2l/home/256970).
  
  ### Schedule

  #### Meeting 1: The Mark of the Mental (Wednesday 1 February)

  ##### Primary Reading
  
  - #{bib.fullcite('bayne_2021', 'Chapter 1, pp. 6–23')}.

  #### Meeting 2: Other Minds, Inside and Out (Wednesday 8 February)

  ##### Primary Reading
  
  - #{bib.fullcite('nagel_1974')}.
  - #{bib.fullcite('roelofs_2023')}.
  - Lawrence Lek, Black Cloud 黑云, 2021.

  #### Meeting 3: Animal Minds (Wednesday 15 February)

  ##### Primary Reading

  - #{bib.fullcite('andrews_2018')}.
  - #{bib.fullcite('hrdy_2009', 'Chapter 1: Apes on a Plane, pp. 1–32')}.

  #### Meeting 4: Octos and Bees (Wednesday 22 February)

  ##### Primary Reading

  - #{bib.fullcite('godfrey-smith_2013a')}.
  - #{bib.fullcite('chittka_2022', 'Introduction, pp 1–16 and Chapter 11: Do Bees Have Consciousness, pp 188–210')}.

  #### Meeting 5: Plant Minds I (Wednesday 1 March)

  ##### Primary Reading

  - #{bib.fullcite('segundo-ortin_2022')}.
  - #{bib.fullcite('myers_2015')}.

  #### Meeting 6: Plant Minds II: Visit from [Mileece](https://www.mileece.is/) (Wednesday 8 March)

  #### Meeting 7: Artificial Intelligence (Wednesday 15 March)

  ##### Primary Reading
  
  - Katherine Hayles, *Unthought: The Power of the Cognitive Nonconscious*, University of Chicago Press, Chicago, 2017, Chapter 1.
  - Yann LeCun and Gary Marcus, “Does AI Need More Innate Machinery?”, 5 October 2017. URI: <https://youtube.com/watch?v=vdWPQ6iAkT4>

  #### Meeting 8: Large Language Models (Wednesday 22 March)

  - Murray Shanahan, “Talking About Large Language Models”, 11 December 2022. URI: <https://arxiv.org/abs/2212.03551> 
  - David Chalmers, “Are Large Language Models Sentient?”. URI: <https://nips.cc/virtual/2022/invited-talk/55867> 

  #### Meeting 9: Oral Exams (Wednesday 29 March)

  #### Qingming Break (3–7 April)

  #### Meeting 10: Alien Minds I (Wednesday 12 April)

  ##### Primary Reading

  - #{bib.fullcite('lem_2016')}. Translated by Bill Johnston.
  - Andrei Tarkovsky, Solaris, 1972. URI: <https://youtube.com/watch?v=Z8ZhQPaw4rE> 
  
  #### Meeting 11: Alien Minds II: Visit from [Bogna Konior](https://shanghai.nyu.edu/academics/faculty/directory/bogna-konior) (Wednesday 19 April)

  - Cirkovic, Milan. 2018. *The Great Silence: The Science and Philosophy of Fermi’s Paradox*, Oxford University Press, Oxford, Chapter 1: The Many Faces of Fermi’s Paradox, pp 30-71.
  - Christopher Cowie, “Arguing About Extraterrestrial Intelligence”, in *The Philosophical Quarterly*, Volume 73, Issue 1, January 2023, pp. 64–83.

  #### Meeting 12: Panpsychism (Wednesday 26 April)

  ##### Primary Reading

  - #{bib.fullcite('goff_2019', 'Chapter 4: How to Solve the Problem of Consciousness, pp. 111–172')}.
  - #{bib.fullcite('parkes_2009')}.

  #### Meeting 13: Spinoza (Wednesday 3 May)

  ##### Primary Reading
  - #{bib.fullcite('spinoza_2018', '§1–15')}.
  - #{bib.fullcite('nadler_2006', 'Chapter 3: On God: Substance pp. 52-84')}.

  #### Meeting 14: Artificial Intelligence Reconsidered (Wednesday 10 May)
  
  *Updated*: 30 January 2023