Title: Brad Weslake &bull; Philosophy of Biology
Categories: teaching/2017
Template: class
Summary: An introduction to philosophy of biology focussing on issues connected with the nature and scope of biological explanations.

- bib = Nesta::Plugin::Maldini::Bibliography.new('content/attachments/biology.bib')

%heading
  %h1 Philosophy of Biology

:markdown

  ## Spring 2017

  <p align="center"><img width="100%" src="https://s3.amazonaws.com/bweslake/images/darwin_diagram.png" alt="Charles Darwin, Diagram of Divergence of Taxa"></p>
  <blockquote class="caption">Part of Darwin's &ldquo;Diagram of Divergence of Taxa&rdquo;, the only diagram in <em>On The Origin of Species</em>.  The diagram depicts &ldquo;hypothetical phylogenetic relationships, showing how lineages diverge from common ancestors and give rise to both extinct and extant species. Time intervals (between Roman numerals) represent thousands of generations. [...] Distance along the horizontal axis represents degree of divergence (as, for example, in body form). Darwin recognized that rates of evolution vary greatly, showing this by different angles in the diagram&rdquo; (Futuyma, 2009, p. 21).  Note too that the diagram displays <a href="http://dx.doi.org/10.1038/nature07894">Darwin's recognition</a> that it is the most divergent species that are most likely to survive.  For the full diagram see <a href="http://darwin-online.org.uk/content/frameset?viewtype=image&amp;itemID=F373&amp;pageseq=133">here</a>.</blockquote>

  ### Details

  <table class="names">
  <thead>
  <tr><th>Course Codes</th><th>Location</th><th> Times</th></tr>
  </thead>
  <tbody>
  <tr><td>PHIL-SHU 91-001 (22467)</td><td>1555 Century Avenue, Room 303</td><td>Mondays and Wednesdays, 9:45am to 11:00am</td></tr>
  </tbody>
  </table>

  ### Instructor

  <table class="names">
  <thead>
  <tr><th>Name</th><th>Email</th><th>Office</th><th>Consultation Times</th></tr>
  </thead>
  <tbody>
  <tr><td>Brad Weslake</td><td><a href="mailto:brad.weslake@nyu.edu">brad.weslake@nyu.edu</a></td><td>1555 Century Avenue, Room 1226</td><td>By appointment.</td></tr>
  </tbody>
  </table>

  ### Overview
  This class is an introduction to philosophy of biology focussing on issues connected with the nature and scope of biological explanations.  We first examine a set of foundational questions concerning the nature and scope of the explanations provided by natural selection.  We then examine the explanatory role of genes in development.  Finally, we consider whether racial categories serve any useful explanatory purpose in biology.  No prior philosophy of science or biology will be assumed.

  ### Assessment

  <p>Requirements:</p>
  <ul class="assess">
  <li>Two exams.</li>
  <li>Two 6&ndash;8 page papers.</li>
  <li>Attendance and participation.</li>
  </ul>

  <p>The final grade will be determined approximately as follows:</p>
  <table class="assess">
  <tbody>
  <tr><td>First Exam: </td><td>20% </td></tr>
  <tr><td>Second Exam: </td><td>20% </td></tr>
  <tr><td>First Paper: </td><td>20% </td></tr>
  <tr><td>Second Paper: </td><td>30% </td></tr>
  <tr><td>Attendance and participation: </td><td>10% </td></tr>
  </tbody>
  </table>

  <p>Assessment dates:</p>
  <table class="assess">
  <tbody>
  <tr><td>First Exam: </td><td>Wednesday 1 March</td><td></td></tr>
  <tr><td>Second Exam: </td><td>Wednesday 29 March</td><td></td></tr>
  <tr><td>First Paper: </td><td>Wednesday 19 April</td><td></td></tr>
  <tr><td>Second Paper: </td><td>Wednesday 17 May</td><td></td></tr>
  </tbody>
  </table>

  ### Policies

  #### Attendance and Lateness

  Students are required to attend all classes on time. An explanation for every absence or late attendance must be submitted in writing to the instructor. Every failure to attend class on time will count against the component of the final grade awarded for attendance and participation, unless an explanation is received and approved at least one day prior to the class in question. Requests for exceptions will be considered on a case by case basis, and typically granted only when related to an illness or other unforeseeable change in life circumstance. Students who have been excessively absent will be considered to have unofficially withdrawn and will be given a final grade of F.

  #### Integrity

  It is a condition on passing this course that students read and adhere to the NYU Shanghai policy on academic integrity as described in the current [NYU Shanghai Academic Bulletin](https://shanghai.nyu.edu/academics/curriculum/bulletin).

  ### Schedule

  #### Meeting 1: Introductory Discussion (Monday 6 February)
  - #{bib.fullcite('godfrey-smith_2009b', '§1')}.

  ### Section I: Natural Selection

  #### Meeting 2: The Propensity Interpretation of Fitness (Wednesday 8 February)
  - #{bib.textcite('godfrey-smith_2009b', '§2.1')}.
  - #{bib.fullcite('mills_1979')}.
  - #{bib.fullcite('sober_2014', '§1')}.
  
  #### Meeting 3: Problems for The Propensity Interpretation (Monday 13 February)
  - #{bib.fullcite('sober_2000a')}.
  - #{bib.fullcite('sober_2014', '§2')}.
  - #{bib.textcite('godfrey-smith_2009b', '§§2.2–2.3')}.

  #### Meeting 4: Selection Of and Selection For (Wednesday 15 February)
  - #{bib.fullcite('sober_1984b')}, §3.2.
  - #{bib.fullcite('fodor_2008')}.

  #### Meeting 5: What Can Selection Explain? (Monday 20 February)
  - #{bib.fullcite('forber_2005')}.
  - #{bib.textcite('godfrey-smith_2009b', '§§3.1–3.3')}.

  #### Meeting 6: Selection and Drift as Forces (Wednesday 22 February)
  - #{bib.fullcite('sober_1984b', 'Chapter 1')}.

  #### Meeting 7: Selection and Drift as Trends (Monday 27 February)
  - #{bib.fullcite('matthen_2002')}.
  - #{bib.textcite('godfrey-smith_2009b', '§§3.4–3.6')}.

  #### Meeting 8: First Exam (Wednesday 1 March)

  ### Section II: Individuals, Collectives, Levels and Transitions

  #### Meeting 9: Individuals, Reproduction and Collectives (Monday 6 March)
  - #{bib.fullcite('janzen_1977')}.
  - #{bib.textcite('godfrey-smith_2009b', '§4–5')}.

  #### Meeting 10: Altruism and Group Selection: Theory (Wednesday 8 March)
  - #{bib.fullcite('sober_1998', 'pp. 17–35')}.

  #### Meeting 11: Altruism and Group Selection: Examples (Monday 13 March)
  - #{bib.textcite('sober_1998', 'pp. 35–54')}.
  
  #### Meeting 12: Two Kinds of Group Selection (Wednesday 15 March)
  - #{bib.fullcite('okasha_2006', '§§2.1–2.2')}.

  #### Meeting 13: Darwinian Populations and Levels of Selection (Monday 20 March)
  - #{bib.textcite('godfrey-smith_2009b', '§§6.1–6.2')}.
  
  #### Meeting 14: The Major Evolutionary Transitions (Wednesday 22 March)
  - #{bib.textcite('godfrey-smith_2009b', '§6.3')}.
  - #{bib.fullcite('kuzdzal-fick_2011')}.
  - #{bib.fullcite('queller_2013')}.

  #### Meeting 15: Review (Monday 27 March)

  #### Meeting 16: Second Exam (Wednesday 29 March)

  ### Section III: Development

  #### Meeting 17: Assigning Causal Responsibility (Monday 10 April)
  - #{bib.fullcite('sober_1988')}.

  #### Meeting 18: For Parity (Wednesday 12 April)
  - #{bib.fullcite('griffiths_1994')}.

  #### Meeting 19: Against Parity (Monday 17 April)
  - #{bib.fullcite('kitcher_2000b')}.

  ### Section IV: Race

  #### Meeting 20: (Wednesday 19 April)

  #### Meeting 21: (Monday 24 April)

  #### Meeting 22: (Wednesday 26 April)

  #### Meeting 23: (Wednesday 3 May)

  #### Meeting 24: (Sunday 7 May)

  #### Meeting 25: (Monday 8 May)

  #### Meeting 26: (Wednesday 10 May)  
  
  #### Meeting 27: (Monday 15 May)

  #### Meeting 28: (Wednesday 17 May)
    

  *Updated*: 2 February 2017