Title: Brad Weslake &bull; Philosophy of Science Reading Group
Categories: teaching/2013
Template: class
Summary: A reading course on philosophy of science.

- bib = Nesta::Plugin::Maldini::Bibliography.new('content/attachments/science.bib')

%heading
  %h1 Philosophy of Science Reading Group

:markdown
  ## Fall 2013 ##

  <br>
  <p align="center"><img width="400" src="http://bweslake.s3.amazonaws.com/images/ling.png" alt=""></p>

  <a name="overview"> </a>

  ### Overview
  This is a graduate-level reading group in philosophy of science, aiming at breadth rather than depth.  The reading list will evolve as the course progresses.  A BibTeX file containing all the references below can be found [here][bibtex]. Unless otherwise advertised, we meet in the Lewis White Beck Memorial Library in <a href="http://goo.gl/RSl9X">Lattimore Hall</a>, at 5pm&ndash;7pm.

  ### Schedule

  #### Wednesday 11 September

  - #{bib.fullcite('nagel_1961')}, Chapter 11.

  #### Wednesday 18 September

  - #{bib.fullcite('sklar_1967')}
  
  #### Wednesday 25 September

  - #{bib.fullcite('hooker_1981')} <span class="small">[<a href="http://reductioland.net/zuihitsu/protected/hooker_towards_a_general_theory-i.pdf">PDF</a>]</span>

  #### Wednesday 2 October

  - #{bib.fullcite('strevens_2012a')}

  #### Wednesday 9 October

  - *Strevens continued*.

  #### Wednesday 23 October

  - #{bib.fullcite('beatty_1995')}. <span class="small">[<a href="http://reductioland.net/zuihitsu/protected/beatty_evolutionary_contingency.pdf">PDF</a>]</span>

  #### Wednesday 6 November

  - #{bib.fullcite('sober_1997')}

  [bibtex]: /content/attachments/science.bib