Title: Brad Weslake &bull; Direction of Time Reading Group
Categories: teaching/2013
Template: class
Summary: A reading course on the direction of time.

- bib = Nesta::Plugin::Maldini::Bibliography.new('content/attachments/time.bib')

%heading
  %h1 Direction of Time Reading Group

:markdown
  ## Spring 2013 ##

  <br>
  <p><img width="300" src="http://bweslake.s3.amazonaws.com/images/inkdrop.jpg" alt=""></p>

  <a name="overview"> </a>

  ### Overview
  This is a graduate-level reading group on the direction of time.  The reading list will evolve as the course progresses.  A BibTeX file containing all the references below can be found [here][bibtex]. Unless otherwise advertised, we meet on Wednesdays at 5:30pm.

  ### Schedule

  #### Wednesday 23 January, <a href="http://www.cafecibon.com/">Cibon</a>.

  - #{bib.fullcite('price_1996b')}, Chapters 1–2. <span class="small">[<a href="http://reductioland.net/zuihitsu/protected/price-1-2.pdf">PDF</a>]</span>

  #### Wednesday 6 February, <a href="http://theoldtoad.com/">The Old Toad</a>.

  - #{bib.fullcite('price_2004a')}. <span class="small">[<a href="http://reductioland.net/zuihitsu/protected/price_origins-arrow-of-time.pdf">PDF</a>]</span>
  - #{bib.fullcite('callender_2004')}. <span class="small">[<a href="http://reductioland.net/zuihitsu/protected/callender_no_puzzle.pdf">PDF</a>]</span>

  #### Wednesday 13 February, <a href="http://theoldtoad.com/">The Old Toad</a>.

  - #{bib.fullcite('price_1996b')}, Chapter 5.

  #### Wednesday 20 February, <a href="http://acanthuscafe.com/">Acanthus</a>.

  - #{bib.fullcite('price_1996b')}, Chapter 6.

  #### Wednesday 27 February, <a href="http://acanthuscafe.com/">Acanthus</a>.

  - #{bib.fullcite('price_1996b')}, Chapter 7.
  
  #### Tuesday 5 March, 12pm, Seminar Room.
  
  - #{bib.fullcite('maudlin_2007')}

  #### Wednesday 20 March, Seminar Room.

  - #{bib.fullcite('loewer_2012a')}

  #### Wednesday 27 March, Seminar Room.

  - #{bib.fullcite('albert_2000')}, Chapters 1–2.
 
  [bibtex]: /content/attachments/time.bib