Title: Brad Weslake &bull; Hard to Find Papers
Categories: resources
Summary: PDF versions of papers that are hard to find.
Template: resources

- bib = Nesta::Plugin::Maldini::Bibliography.new('content/attachments/hard-to-find-papers.bib')

%heading
  %h1 Hard to Find Papers
  
:markdown
  
  I am slightly obsessive about acquiring original PDF versions for the entries in my [bibliography][2]. Here are some that were especially hard to find. You can also download the [complete bibliography](../attachments/hard-to-find-papers.bib) and the [complete folder](https://nyu.box.com/v/hard-to-find-papers).
  
  [1]: http://en.wikipedia.org/wiki/BibTeX
  [2]: http://github.com/etc/philosophy-bibliography/tree/master  
  [3]: https://nyu.box.com/v/hard-to-find-papers

  - #{bib.fullcite('block_1977')}. [<span class="sc">[pdf](https://nyu.box.com/s/9mct3kyp1x4wam67fd45pz5tfkr8onvc)</span>] 
  - #{bib.fullcite('block_1981b')}. [<span class="sc">[pdf](https://nyu.box.com/s/u7v5ctqs2rilsqm68vvcxcd23gk170bn)</span>]   
  - #{bib.fullcite('gould_1976')}. [<span class="sc">[pdf](https://nyu.box.com/s/si46mdhtrdoremha2kw66me5xaroegfe)</span>]   
  - #{bib.fullcite('huxley_1854')}. [<span class="sc">[pdf](https://nyu.box.com/s/yo7t7z9c4biofkmvec8ui90mxp0h6xex)</span>]   
  - #{bib.fullcite('lotka_1913i')}. [<span class="sc">[pdf](https://nyu.box.com/s/ndojgegip24i8xar2no9p2j93q9a9xtz)</span>]   
  - #{bib.fullcite('lotka_1913ii')}. [<span class="sc">[pdf](https://nyu.box.com/s/nza14l959tunk6sofaoqrhr27632u2x5)</span>]   
  - #{bib.fullcite('lotka_1913iii')}. [<span class="sc">[pdf](https://nyu.box.com/s/7woblzqkd74x0v4j1v1fb8drkal4n9ku)</span>]   
  - #{bib.fullcite('margulis_2001')}. [<span class="sc">[pdf](https://nyu.box.com/s/n4ndn72mubh4g4d66idqc6namdfbzdsp)</span>] 
  - #{bib.fullcite('ridley_2001')}. [<span class="sc">[pdf](https://nyu.box.com/s/1c26w2jchhr2monjthn35vpa2k8i8kcz)</span>] 
  
  
  
  