Title: Brad Weslake &bull; Central Problems in Philosophy
Categories: teaching/2015
Template: class
Summary: An introduction to the problems and methods of contemporary philosophy.

- bib = Nesta::Plugin::Maldini::Bibliography.new('content/attachments/central-problems.bib')

%heading
  %h1 Central Problems in Philosophy

:markdown

  ## Spring 2015

  <p align="center"><img src="https://s3.amazonaws.com/bweslake/images/godot.png" alt="Samuel Beckett, from Waiting for Godot"></p>
  <blockquote class="caption">Samuel Beckett, <em>Waiting for Godot</em>, Grove, NY, 1954, p. 13.</blockquote>

  ### Details

  <table class="names">
  <thead>
  <tr><th>Course Code</th><th>Location</th><th> Times</th></tr>
  </thead>
  <tbody>
  <tr><td>PHIL-SHU 150-001 (23402)</td><td>1555 Century Avenue, Room 211</td><td>Tuesdays and Thursdays, 9:45am–11:00am</td></tr>
  </tbody>
  </table>

  ### Instructor

  <table class="names">
  <thead>
  <tr><th>Name</th><th>Email</th><th>Office</th><th>Consultation Times</th></tr>
  </thead>
  <tbody>
  <tr><td>Brad Weslake</td><td><a href="mailto:brad.weslake@nyu.edu">brad.weslake@nyu.edu</a></td><td>1555 Century Avenue, Room 1226</td><td>Tuesdays and Thursdays, 11:00am–12:00pm, or by appointment.</td></tr>
  </tbody>
  </table>

  ### Overview
  This course is an introduction to the problems and methods of contemporary philosophy. Our topics are the following:

  1. Can belief in the existence of the external world be justified?
  2. Can belief in the existence of God be justified?
  3. What is the relationship between mind and body?
  4. Can we act freely if everything we do is determined by laws of nature?
  5. Is there a true theory of how we ought to live?

  ### Objectives
  The aim of this course is for students to significantly improve their capacity to:
  
  * Extract, explain and evaluate the arguments contained in philosophical texts.
  * Understand the central arguments and theories contained in the assigned readings.
  * Contribute to constructive philosophical discussion.
  * Write clear, concise, and well organised philosophical essays.

  ### Assessment

  <p>Requirements:</p>
  <ul class="assess">
  <li>Three 6&ndash;8 page papers.</li>
  <li>Attendance and participation.</li>
  </ul>

  <p>The final grade will be determined approximately as follows:</p>
  <table class="assess">
  <tbody>
  <tr><td>First Paper: </td><td>20% </td></tr>
  <tr><td>Second Paper: </td><td>30% </td></tr>
  <tr><td>Third Paper: </td><td>40% </td></tr>
  <tr><td>Attendance and participation: </td><td>10% </td></tr>
  </tbody>
  </table>

  <p>Due dates:</p>
  <table class="assess">
  <tbody>
  <tr><td>First Paper: </td><td>Tuesday 17 March</td><td>[<a href="http://goo.gl/p74xmR">PDF</a>]</td></tr>
  <tr><td>Second Paper: </td><td>Tuesday 14 April</td><td>[<a href="http://goo.gl/HOvpVx">PDF</a>]</td></tr>
  <tr><td>Third Paper: </td><td>Thursday 14 May</td><td>[<a href="http://goo.gl/F7FCXP">PDF</a>]</td></tr>
  </tbody>
  </table>

  ### Policies

  #### Attendance and Lateness

  Students are required to attend all classes on time. An explanation for every absence or late attendance must be submitted in writing to the instructor. Every failure to attend class on time will count against the component of the final grade awarded for attendance and participation, unless an explanation is received and approved at least one day prior to the class in question. Requests for exceptions will be considered on a case by case basis, and typically granted only when related to an illness or other unforeseeable change in life circumstance. Students who have been excessively absent will be considered to have unofficially withdrawn and will be given a final grade of F.

  #### Electronic Devices

  Use of all electronic devices is strictly prohibited in class. Requests for exceptions will be considered on a case by case basis, and typically granted only when related to assistance with a disability.

  #### Integrity

  It is a condition on passing this course that students read and adhere to the NYU Shanghai policy on academic integrity as described in the current [NYU Shanghai Academic Bulletin](https://shanghai.nyu.edu/academics/curriculum/bulletin).

  ### Schedule

  #### Meeting 1: What is Philosophy? (Tuesday 27 January)

  ### Section I: The External World

  #### Meeting 2: Demons and Dreamers I (Thursday 29 January)

  - Selections from #{bib.fullcite('descartes_2006')}.

  #### Meeting 3: Demons and Dreamers II (Tuesday 3 February)

  - #{bib.fullcite('stroud_1984b')}.

  #### Meeting 4: Is This a Hand I See Before Me? (Thursday 5 February)

  - Selections from #{bib.fullcite('moore_1939')}.
  - Selections from #{bib.fullcite('moore_1959b')}.
  - Selections from #{bib.fullcite('moore_1959a')}.

  #### Meeting 5: What Does Reality Explain? (Tuesday 10 February)
  
  - #{bib.fullcite('vogel_1990')}.

  #### Film Screening: The Matrix (Tuesday 10 February)
  
  The film *The Matrix* will be screened in the Auditorium at 6pm.

  #### Meeting 6: How Sceptical are Sceptical Hypotheses? (Thursday 12 February)

  - #{bib.fullcite('chalmers_2005')}.

  ### Spring Festival Holiday: 16–24 February

  ### Section II: God

  #### Meeting 7: The Ontological Argument (Thursday 26 February)
  - Selections from #{bib.fullcite('anselm_2011')}.
  - Selections from #{bib.fullcite('conee_2005b')}.
  
  #### Meeting 8: The Cosmological Argument (Tuesday 3 March)
  - Selections from #{bib.fullcite('aquinas_2006')}.
  - Selections from #{bib.fullcite('conee_2005b')}.

  #### Meeting 9: The Design Argument (Thursday 5 March)
  - Selections from #{bib.fullcite('paley_1802')}.
  - Selections from #{bib.fullcite('sober_2008')}.

  #### Meeting 10: Pascal's Wager (Tuesday 10 March)
  - Selections from #{bib.fullcite('pascal_2004')}.
  - #{bib.fullcite('hajek_2012')}.

  #### Meeting 11: The Problem of Evil (Thursday 12 March)
  - Selections from #{bib.fullcite('hume_2007c')}.
  - Selections from #{bib.fullcite('dostoyevsky_1990')}.

  ### Section III: Mind and Body

  #### Meeting 12: Dualism (Tuesday 17 March)
  - Selections from #{bib.fullcite('descartes_2006')}.
  - Selections from #{bib.fullcite('descartes_1985a')}.
  - Selections from #{bib.fullcite('shapiro_2007b')}.

  #### Meeting 13: Behaviourism (Thursday 19 March)
  - Selections from #{bib.fullcite('ryle_1949')}.
  - #{bib.fullcite('putnam_1965')}.

  #### Meeting 14: Identity Theory and Functionalism (Tuesday 24 March)
  - #{bib.fullcite('smart_1959')}.
  - #{bib.fullcite('putnam_1967a')}.

  #### Meeting 15: The Chinese Room (Thursday 26 March)
  - #{bib.fullcite('searle_1980')}.

  #### Meeting 16: The Black and White Room (Tuesday 31 March)
  - #{bib.fullcite('rumelin_1996')}.
  - #{bib.fullcite('jackson_1982')}.

  ### Spring Recess: 1–6 April

  ### Section IV: Freedom

  #### Meeting 17: First-Order Compatibilism (Tuesday 7 April)
  - #{bib.fullcite('ayer_1954a')}.
  - Selections from #{bib.fullcite('hume_2007')}.

  #### Meeting 18: Second-Order Compatibilism (Thursday 9 April)
  - #{bib.fullcite('frankfurt_1971')}.
  - #{bib.fullcite('wolf_1987')}.

  #### Meeting 19: Incompatibilism (Tuesday 14 April)
  - #{bib.fullcite('inwagen_1975')}.
  - #{bib.fullcite('lewis_1981b')}.

  #### Meeting 20: Libertarianism (Thursday 16 April)
  - #{bib.fullcite('chisholm_1964')}.

  #### Meeting 21: The Principle of Alternative Possibilities (Tuesday 21 April)
  - #{bib.fullcite('frankfurt_1969')}.

  #### Meeting 22: The Reactive Attitudes (Thursday 23 April)
  - #{bib.fullcite('strawson_1962')}.

  ### Section V: How to Live

  #### Meeting 23: Utilitarianism (Tuesday 28 April)
  - #{bib.fullcite('smart_1956')}.
  - Selections from #{bib.fullcite('williams_1973c')}.

  #### Meeting 24: Kantianism (Thursday 30 April)
  - Selections from #{bib.fullcite('kant_2011')}.
  - #{bib.fullcite('velleman_2006c')}.

  #### Meeting 25: Virtue Ethics (Tuesday 5 May)

  - Selections from #{bib.fullcite('aristotle_2000')}.
  - #{bib.fullcite('hursthouse_1996')}.

  #### Meeting 26: Moral Luck (Thursday 7 May)

  - #{bib.fullcite('nagel_1979b')}.

  #### Meeting 27: Moral Saints Tuesday 12 May

  - #{bib.fullcite('wolf_1982')}.

  #### Meeting 28: Love and Death (Thursday 14 May)
  
  - #{bib.fullcite('setiya_2014')}.
  - #{bib.fullcite('moller_2007')}.

  *Updated*: 12 June 2015