Title: Brad Weslake &bull; Logic
Categories: teaching/2015
Template: class
Summary: A philosophical introduction to formal reasoning.

- bib = Nesta::Plugin::Maldini::Bibliography.new('content/attachments/logic.bib')

%heading
  %h1 Logic

:markdown

  ## Fall 2015

  <p align="center"><img src="https://s3.amazonaws.com/bweslake/images/waples-photographic-paintings.jpg" alt="Matt Waples, Photographic Paintings Using Light and Miscellaneous Liquids"></p>
  <blockquote class="caption">Matt Waples, <em>Photographic Paintings Using Light and Miscellaneous Liquids</em>, 2014.</blockquote>

  ### Details

  <table class="names">
  <thead>
  <tr><th>Course Code</th><th>Location</th><th> Times</th></tr>
  </thead>
  <tbody>
  <tr><td>PHIL-SHU 70-001 (19361)</td><td>1555 Century Avenue, Room 304</td><td>Tuesdays and Thursdays, 1:45pm–3:00pm</td></tr>
  </tbody>
  </table>

  ### Instructor

  <table class="names">
  <thead>
  <tr><th>Name</th><th>Email</th><th>Office</th><th>Consultation Times</th></tr>
  </thead>
  <tbody>
  <tr><td>Brad Weslake</td><td><a href="mailto:brad.weslake@nyu.edu">brad.weslake@nyu.edu</a></td><td>1555 Century Avenue, Room 1226</td><td>Tuesdays and Thursdays, 3:00pm–4:00pm, or by appointment.</td></tr>
  </tbody>
  </table>

  ### Overview
  This course is an introduction to formal reasoning. In the first part of the course, we study a simple system of deductive logic. In the second part of the course, we study probability theory and explore some examples of reasoning with probability in philosophy and science. In the final week of the course we will have a discussion with Professor [Jeff Erlich](http://www.cns.nyu.edu/~jerlich/) about reasoning with probability in neuroscience.

  ### Objectives
  The aim of this course is for students to significantly improve their capacity to:
  
  * Extract and evaluate deductive arguments from written text.
  * Extract and evaluate inductive arguments from written text.
  * Apply the tools of deductive logic and  probability theory to the analysis of arguments.
  * Extract, explain and evaluate the arguments contained in philosophical texts.
  * Understand the central arguments and theories contained in the assigned readings.
  * Contribute to constructive philosophical discussion.
  * Write clear, concise, and well organised philosophical essays.

  ### Assessment

  <p>Requirements:</p>
  <ul class="assess">
  <li>Two exams.</li>
  <li>Two 6&ndash;8 page papers.</li>
  <li>Attendance and participation.</li>
  </ul>

  <p>The final grade will be determined approximately as follows:</p>
  <table class="assess">
  <tbody>
  <tr><td>First Exam: </td><td>20% </td></tr>
  <tr><td>Second Exam: </td><td>20% </td></tr>
  <tr><td>First Paper: </td><td>20% </td></tr>
  <tr><td>Second Paper: </td><td>30% </td></tr>
  <tr><td>Attendance and participation: </td><td>10% </td></tr>
  </tbody>
  </table>

  <p>Assessment dates:</p>
  <table class="assess">
  <tbody>
  <tr><td>First Exam: </td><td>Thursday 24 September</td><td></td></tr>
  <tr><td>Second Exam: </td><td>Tuesday 29 October</td><td></td></tr>
  <tr><td>First Paper: </td><td>Thursday 19 November</td><td>[<a href="http://bweslake.s3.amazonaws.com/teaching/2015/logic/paper1.pdf">PDF</a>]</td></tr>
  <tr><td>Second Paper: </td><td>Thursday 10 December</td><td></td></tr>
  </tbody>
  </table>

  ### Policies

  #### Attendance and Lateness

  Students are required to attend all classes on time. An explanation for every absence or late attendance must be submitted in writing to the instructor. Every failure to attend class on time will count against the component of the final grade awarded for attendance and participation, unless an explanation is received and approved at least one day prior to the class in question. Requests for exceptions will be considered on a case by case basis, and typically granted only when related to an illness or other unforeseeable change in life circumstance. Students who have been excessively absent will be considered to have unofficially withdrawn and will be given a final grade of F.

  #### Integrity

  It is a condition on passing this course that students read and adhere to the NYU Shanghai policy on academic integrity as described in the current [NYU Shanghai Academic Bulletin](https://shanghai.nyu.edu/academics/curriculum/bulletin).

  ### Schedule

  #### Meeting 1: What is Logic? (Tuesday 1 September)

  - #{bib.fullcite('teller_1989', '1-1')}. URI: <http://tellerprimer.ucdavis.edu/pdf/>
  - #{bib.fullcite('hacking_2001', 'Odd Questions')}.

  ### Section I: Deductive Logic

  #### Meeting 2: Truth Functions (Friday 4 September)
  
  - #{bib.fullcite('teller_1989', '1-2, 1-3, 1-4')}. 

  #### Meeting 3: Compounds (Tuesday 8 September)

  - #{bib.textcite('teller_1989', '1-5, 1-6')}.

  #### Meeting 4: Transcription (Thursday 10 September)

  - #{bib.textcite('teller_1989', '2-1, 2-2, 2-3')}.

  #### Meeting 5: Equivalence (Tuesday 15 September)

  - #{bib.textcite('teller_1989', '3-1, 3-2, 3-3')}.

  #### Meeting 6: Expressive Completeness (Thursday 17 September)

  - #{bib.textcite('teller_1989', '3-4')}.

  #### Meeting 7: Review (Tuesday 22 September)

  #### Meeting 8: First Exam (Thursday 24 September)

  #### Meeting 9: Validity and Conditionals I (Tuesday 6 October)

  - #{bib.textcite('teller_1989', '4-1, 4-2, 4-3, 4-4')}.

  #### Meeting 10: Validity and Conditionals II (Thursday 8 October)

  - #{bib.textcite('teller_1989', '4-5')}.

  #### Meeting 11: Natural Deduction (Tuesday 13 October)

  - #{bib.textcite('teller_1989', '5-1, 5-2, 5-3')}.

  ### Section II: Probability Theory

  #### Meeting 12: Basics (Thursday 15 October)

  - #{bib.textcite('hacking_2001', 'Chapters 2-4')}.

  #### Meeting 13: Conditional Probability (Tuesday 20 October)

  - #{bib.textcite('hacking_2001', 'Chapters 5-6')}.

  #### Meeting 14: Bayes' Theorem I (Thursday 22 October)

  - #{bib.textcite('hacking_2001', 'Chapter 7')}.

  #### Meeting 15: Review (Tuesday 27 October)

  #### Meeting 16: Second Exam (Thursday 29 October)

  #### Meeting 17: Bayes' Theorem II (Tuesday 3 November)

  #### Meeting 18: Kinds of Probability (Thursday 5 November)

  - #{bib.textcite('hacking_2001', 'Chapters 11-12')}.

  #### Meeting 19: Bayesianism I: Credence (Tuesday 10 November)

  - #{bib.textcite('hacking_2001', 'Chapter 13')}.

  #### Meeting 20: Bayesianism II: Coherence (Thursday 12 November)

  - #{bib.textcite('hacking_2001', 'Chapter 14')}.
   
  #### Meeting 21: Bayesianism III: Conditionalisation (Sunday 15 November)

  - #{bib.textcite('hacking_2001', 'Chapter 15')}.

  #### Meeting 22: Application: Probability in the Law I (Tuesday 17 November)

  - #{bib.fullcite('dawid_2002')}.

  #### Meeting 23: Application: Probability in the Law II (Thursday 19 November)

  - Peter Green, “Letter from the President to the Lord Chancellor Regarding the Use of Statistical Evidence in Court Cases”, 23 January 2002. URI: <http://goo.gl/V1mKAn>
  - #{bib.fullcite('sesardic_2007')}.

  #### Meeting 24: Frequency (Tuesday 24 November)

  - #{bib.textcite('hacking_2001', 'Chapters 16-17')}.

  #### Meeting 25: Significance, Power and Confidence (Tuesday 1 December)

  - #{bib.textcite('hacking_2001', 'Chapters 18-19')}.

  #### Meeting 26: Bayesianism, Frequentism, Likelihoodism (Thursday 3 December)

  - #{bib.fullcite('sober_2008', '§§1.1-1.6')}.

  #### Meeting 27: Application: The Reproducibility Crisis I (Tuesday 8 December)

  - #{bib.fullcite('ioannidis_2005')}.

  #### Meeting 28: Application: The Reproducibility Crisis II (Thursday 10 December)

  *Updated*: 19 November 2015