Title: Brad Weslake &bull; Philosophy of Science
Categories: teaching/2015
Template: class
Summary: A survey course in philosophy of science.

- bib = Nesta::Plugin::Maldini::Bibliography.new('content/attachments/science.bib')

%heading
  %h1 Philosophy of Science

:markdown

  ## Fall 2015

  <p align="center"><img src="https://s3.amazonaws.com/bweslake/images/robert-mangold-ring.jpg" alt="Robert Mangold, Ring B, Orange, 2010"></p>
  <blockquote class="caption">Robert Mangold, <em>Ring B, Orange</em>, 2010.</blockquote>

  ### Details

  <table class="names">
  <thead>
  <tr><th>Course Code</th><th>Location</th><th> Times</th></tr>
  </thead>
  <tbody>
  <tr><td>PHIL-SHU 90-001 (19362)</td><td>1555 Century Avenue, Room 304</td><td>Tuesdays and Thursdays, 11:30am–12:45pm</td></tr>
  </tbody>
  </table>

  ### Instructor

  <table class="names">
  <thead>
  <tr><th>Name</th><th>Email</th><th>Office</th><th>Consultation Times</th></tr>
  </thead>
  <tbody>
  <tr><td>Brad Weslake</td><td><a href="mailto:brad.weslake@nyu.edu">brad.weslake@nyu.edu</a></td><td>1555 Century Avenue, Room 1226</td><td>Tuesdays and Thursdays, 3:00pm–4:00pm, or by appointment.</td></tr>
  </tbody>
  </table>

  ### Overview
  This is a survey course in general philosophy of science. Our topics include: Is scientific knowledge different from other forms of knowledge? Should the history of science be seen as an ever-increasing advance of knowledge? Given that most scientific theories have turned out to be false, are we justified in believing that our current theories are true?  What are scientific explanations, and what makes an explanation better than another? Do the laws of nature govern the world or simply encapsulate some interesting patterns in the world? What is the relationship between more and less fundamental scientific theories? We will examine these questions through readings drawn from both the history and philosophy of science.

  ### Objectives
  The aim of this course is for students to significantly improve their capacity to:
  
  * Extract, explain and evaluate the arguments contained in philosophical texts.
  * Understand the central arguments and theories contained in the assigned readings.
  * Contribute to constructive philosophical discussion.
  * Write clear, concise, and well organised philosophical essays.

  ### Assessment

  <p>Requirements:</p>
  <ul class="assess">
  <li>Three 6&ndash;8 page papers.</li>
  <li>Attendance and participation.</li>
  </ul>

  <p>The final grade will be determined approximately as follows:</p>
  <table class="assess">
  <tbody>
  <tr><td>First Paper: </td><td>20% </td></tr>
  <tr><td>Second Paper: </td><td>30% </td></tr>
  <tr><td>Third Paper: </td><td>40% </td></tr>
  <tr><td>Attendance and participation: </td><td>10% </td></tr>
  </tbody>
  </table>

  <p>Due dates:</p>
  <table class="assess">
  <tbody>
  <tr><td>First Paper: </td><td>Tuesday 6 October</td><td></td></tr>
  <tr><td>Second Paper: </td><td>Tuesday 3 November</td><td></td></tr>
  <tr><td>Third Paper: </td><td>Tuesday 8 December</td><td></td></tr>
  </tbody>
  </table>

  ### Policies

  #### Attendance and Lateness

  Students are required to attend all classes on time. An explanation for every absence or late attendance must be submitted in writing to the instructor. Every failure to attend class on time will count against the component of the final grade awarded for attendance and participation, unless an explanation is received and approved at least one day prior to the class in question. Requests for exceptions will be considered on a case by case basis, and typically granted only when related to an illness or other unforeseeable change in life circumstance. Students who have been excessively absent will be considered to have unofficially withdrawn and will be given a final grade of F.

  #### Integrity

  It is a condition on passing this course that students read and adhere to the NYU Shanghai policy on academic integrity as described in the current [NYU Shanghai Academic Bulletin](https://shanghai.nyu.edu/academics/curriculum/bulletin).

  ### Schedule

  #### Meeting 1: What is Philosophy of Science? (Tuesday 1 September)

  ### Section I: What is Science?

  #### Meeting 2: Falsificationism (Friday 4 September)

  - #{bib.fullcite('popper_1963a', '§§1–3')}.

  #### Meeting 3: Normal Science (Tuesday 8 September)

  - #{bib.fullcite('kuhn_1970a')}.

  #### Meeting 4: Testing and Auxiliary Hypotheses (Thursday 10 September)

  - #{bib.fullcite('putnam_1974')}.

  #### Meeting 5: String Theory I (Tuesday 15 September)

  - #{bib.fullcite('smolin_2006a')}.
  - #{bib.fullcite('woit_2006a')}.

  #### Meeting 6: String Theory II (Thursday 17 September)

  - #{bib.fullcite('dawid_2011')}.

  #### Meeting 7: String Theory III (Tuesday 22 September)

  - #{bib.fullcite('ritson_2015')}.

  #### Meeting 8: The Demise of Demarcation (Thursday 24 September)
  
  - #{bib.fullcite('laudan_1983')}.

  ### Section II: Induction and Confirmation

  #### Meeting 9: The Old Problem of Induction (Tuesday 6 October)

  - #{bib.fullcite('lange_2011b')}.

  #### Meeting 10: Theories of Confirmation (Thursday 8 October)

  - **Easier**: #{bib.fullcite('godfrey-smith_2003c')}.
  - **Harder**: #{bib.fullcite('earman_1999', '§§2.1–2.4')}.

  #### Meeting 11: The New Problem of Induction (Tuesday 13 October)

  - #{bib.fullcite('goodman_1955a')}.

  #### Meeting 12:  (Thursday 15 October)

  #### Meeting 13:  (Tuesday 20 October)

  #### Meeting 14:  (Thursday 22 October)

  #### Meeting 15:  (Tuesday 27 October)

  #### Meeting 16:  (Thursday 29 October)

  #### Meeting 17:  (Tuesday 3 November)

  #### Meeting 18:  (Thursday 5 November)

  #### Meeting 19:  (Tuesday 10 November)

  #### Meeting 20:  (Thursday 12 November)

  #### Meeting 21: (Sunday 15 November)

  #### Meeting 22:  (Tuesday 17 November)

  #### Meeting 23:  (Thursday 19 November)

  #### Meeting 24:  (Tuesday 24 November)

  #### Meeting 25:  (Tuesday 1 December)

  #### Meeting 26:  (Thursday 3 December)

  #### Meeting 27:  (Tuesday 8 December)

  #### Meeting 28:  (Thursday 10 December)

  *Updated*: 31 August 2015