Title: Brad Weslake &bull; Philosophy of Technology (Undergraduate)
Categories: teaching/2021
Template: class
Summary: A historically oriented introduction to philosophy of technology focussing on the theme of simulation. This is the undergraduate section.

- bib = Nesta::Plugin::Maldini::Bibliography.new('content/attachments/technology.bib')

%heading
  %h1 Philosophy of Technology (Undergraduate)

:markdown

  ## Spring 2021

  <p align="center"><img width="400" src="http://bweslake.s3.amazonaws.com/images/descartes_apple.png" alt="From Descarte's The World">

  <blockquote class="caption">Descartes explains how the eyes can focus on a nearby object. From Stephen Gaukroger (Ed), <em>The World and Other Writings</em>, Cambridge University Press, Cambridge, 2004, p. 158.</blockquote></p>

  ### Details

  <table class="names">
  <thead>
  <tr><th>Course Codes</th><th>Location</th><th> Times</th></tr>
  </thead>
  <tbody>
  <tr><td>PHIL-SHU 130</td><td>1555 Century Avenue, Room 303</td><td>Wednesdays, 5:00pm to 8:00pm</td></tr>
  </tbody>
  </table>

  ### Instructors

  <table class="names">
  <thead>
  <tr><th>Name</th><th>Email</th><th>Office</th><th>Consultation Times</th></tr>
  </thead>
  <tbody>
  <tr><td>Anna Greenspan</td><td><a href="mailto:ag158@nyu.edu">ag158@nyu.edu</a></td><td>1555 Century Avenue</td><td>By appointment.</td></tr>
  <tr><td>Brad Weslake</td><td><a href="mailto:brad.weslake@nyu.edu">brad.weslake@nyu.edu</a></td><td>1555 Century Avenue, Room 961</td><td>By appointment.</td></tr>
  </tbody>
  </table>

  ### Overview
  This class is a historically oriented introduction to philosophy of technology, focussing on the theme of simulation.

  ### Assessment

  <p>The final grade will be determined approximately as follows:</p>
  <table class="assess">
  <tbody>
  <tr><td>Attendance and participation: </td><td>15% </td></tr>
  <tr><td>Weekly reading assignments: </td><td>15% </td></tr>
  <tr><td>Midterm Exam: </td><td>30% </td></tr>
  <tr><td>Final paper: </td><td>40% </td></tr>

  </tbody>
  </table>

  <p>Assessment dates:</p>
  <table class="assess">
  <tbody>
  <tr><td>Midterm Exam: </td><td>Wednesday 10 March</td><td></td></tr>
  <tr><td>Final Paper Outline: </td><td>Wednesday 21 April</td><td></td></tr>
  <tr><td>Final Paper: </td><td>Wednesday 12 May</td><td></td></tr>
  </tbody>
  </table>

  ### Policies

  #### Attendance and Lateness

  Students are required to attend all classes on time. An explanation for every absence or late attendance must be submitted in writing to the instructors. Every failure to attend class on time will count against the component of the final grade awarded for attendance and participation, unless an explanation is received and approved at least one day prior to the class in question. Requests for exceptions will be considered on a case by case basis, and typically granted only when related to an illness or other unforeseeable change in circumstance. Students who have been excessively absent will be considered to have unofficially withdrawn and will be given a final grade of F.

  #### Integrity

  It is a condition on passing this course that students read and adhere to the NYU Shanghai policy on academic integrity as described in the current [NYU Shanghai Academic Bulletin](https://shanghai.nyu.edu/academics/curriculum/bulletin).

  ### Course Materials
  
  - A directory containing all course readings can be found [here](https://nyu.box.com/v/technology-readings).
  - Books on reserve in the NYU Shanghai library can be found [here](https://ares.library.nyu.edu/remoteauth/ares.dll?Action=10&Form=60&Value=129479).
  
  ### Schedule

  #### Meeting 1: The Western Tradition I: Plato (Wednesday 27 January)

  - Plato, c375BC, *Republic*, Chapter VII. [[PDF](https://nyu.box.com/v/plato-republic-vii)]  
    Translated by G.M.A. Grube, revised by C.D.C. Reeve, in John M. Cooper (Ed), *Plato: Complete Works*, Hackett, Indianapolis IN, 1997, pp. 1132-1155. 
  - #{bib.fullcite('moss_2006')} [[PDF](https://nyu.box.com/v/moss-pleasure-illusion-plato)]

  #### Meeting 2: The Western Tradition II: Descartes (Wednesday 3 February)
  
  - René Descartes, 1641, *Meditations on First Philosophy*. [[PDF](https://nyu.box.com/v/descartes-meditations)]  
    Translated by John Cottingham, Cambridge University Press, Cambridge, 1996, pp. 12-62. 
  
  #### Meeting 3: The Western Tradition III: Leibniz and Kant (Wednesday 10 February)
  
  - Gottfried Wilhelm Leibniz, 1695, *A New System of the Nature and Communication of Substances, and of the Union of the Soul and Body*. [[PDF](https://nyu.box.com/v/leibniz-new-system-nature)]  
    Translated by Roger Ariew and Daniel Garber (Eds), *G. W. Leibniz: Philosophical Essays*, Hackett, Indianapolis, 1989, pp. 138–145.
  - Gottfried Wilhelm Leibniz, 1714, *The Principles of Philosophy, or The Monadology*. [[PDF](https://nyu.box.com/v/leibniz-monadology)]  
    Translated by Roger Ariew and Daniel Garber (Eds), G. W. Leibniz: Philosophical Essays, Hackett, Indianapolis, 1989, pp. 213–225.
  - Immanuel Kant, 1781, *The Critique of Pure Reason*, “The Fourth Paralogism”, A367-A380 [[PDF](https://nyu.box.com/v/kant-fourth-paralogism)]; “Refutation of Idealism”, B274-B279 [[PDF](https://nyu.box.com/v/kant-refutation-idealism)]; “Note to Preface of Second Edition”, Bxxxix-Bxli [[PDF](https://nyu.box.com/v/kant-preface-b-note)].  
    Translated by Paul Guyer and Allen W. Wood, Cambridge University Press, Cambridge, 1998, pp. 425-431; pp. 326-333; pp. 121-122.
  
  #### Spring Festival: 11–19 February

  #### Meeting 4: Asian Perspectives I: Zhuangzi (Wednesday 24 February)

  - Zhuangzi, c350BC, *Qiwu Lun*. [[PDF](https://nyu.box.com/v/zhuangzi-qiwu-lun)]  
    Translated by Burton Watson. 2013. *The Complete Works of Zhuangzi*, Columbia University Press, New York, pp. 7-18.
  - #{bib.fullcite('cheng_2014')} [[PDF](https://nyu.box.com/v/cheng-self-dream-zhuangzi)]

  #### Meeting 5: Asian Perspectives II: Vasubandhu (Wednesday 3 March)

  - Vasubandhu, c400, Viṃśatikākārikā and Viṃśatikāvṛtti. [[PDF](https://nyu.box.com/v/vasubandhu-vimsatikakarika)]  
    Translated by Anacker, Stefan. 2005. *Seven Works of Vasubandhu: The Buddhist Psychological Doctor*, Motilal Banarsidass, Delhi, pp. 161-179.
  - Amber D. Carpenter, “The Third Turning: Yogācāra”, in *Indian Buddhist Philosophy: Metaphysics as Ethics*, Routledge, London, 2014, pp. 137-168. [[PDF](https://nyu.box.com/v/carpenter-third-turning)]

  #### Meeting 6: Recurrence: Nietzsche and Deleuze (Wednesday 10 March)

  - Friedrich Nietzsche, 1873, “On Truth and Lies In A Nonmoral Sense”. [[PDF](https://nyu.box.com/v/nietzsche-truth-lies-nonmoral)]  
    Translated by Daniel Breazeale (Ed), *Philosophy and Truth: Selections from Nietzsche's Notebooks of the Early 1870's*, Humanities Press, London, pp. 77-97. 
  - Gilles Deleuze, 1966, “Plato and the Simulacrum”. [[PDF](https://nyu.box.com/v/deleuze-plato-simulacrum)]  
    Translated by Rosalind Krauss, *October*, Vol. 27, Winter 1983, pp. 45-56.

  #### Meeting 7: Feminist Speculations: Irigaray and Plant (Wednesday 17 March)

  - Sadie Plant, “On the Matrix: Cyberfeminist Simulations”, in Rob Shields (Ed), *Cultures of Internet: Virtual Spaces, Real Histories, Living Bodies*, Sage, London, 1996, pp. 170-183. [[PDF](https://nyu.box.com/v/plant-matrix)]  
    Reprinted in Gill Kirkup, Linda Janes, Kathryn Woodward and Fiona Hovenden (Eds), *The Gendered Cyborg: A Reader*, Routledge, London, 2000, pp. 265-275.

  #### Meeting 8: The Imitation Game: Turing (Wednesday 24 March)

  - #{bib.fullcite('turing_1950')} [[PDF](https://nyu.box.com/v/turing-computing-machinery)]
  - #{bib.fullcite('proudfoot_2020')} [[PDF](https://nyu.box.com/v/proudfoot-rethinking-turing)]

  #### Meeting 9: The Experience Machine: Nozick (Wednesday 31 March)

  - Robert Nozick “The Experience Machine”, in *Anarchy, State and Utopia*, Blackwell, Oxford, 1974, pp. 42-45. [[PDF](https://nyu.box.com/v/nozick-experience-machine)]
  - Ben Bramble, “The Experience Machine”, in *Philosophy Compass*, Vol. 11, No. 3, March 2016, pp. 136-145. [[PDF](https://nyu.box.com/v/bramble-experience-machine)]

  #### Qingming: 5–7 April

  #### Meeting 10: The Virtual and the Real: Chalmers (Wednesday 14 April)

  - David J. Chalmers, “The Virtual and the Real”, in *Disputatio*, Vol. 9, No. 46, November 2017, pp. 309-352. [[PDF](https://nyu.box.com/v/chalmers-virtual-real)]

  #### Meeting 11: Copy and Simulation I: Baudrillard (Wednesday 21 April)

  - Jean Baudrillard, 1981, “The Precession of Simulacra”. [[PDF](https://nyu.box.com/v/baudrillard-simulacra)]  
    Translated by Sheila Faria Glaser in *Simulacra and Simulation*, University of Michigan Press, Ann Arbor MI, 1994, pp. 1-42.

  #### Meeting 12: Copy and Simulation II: Byung-Chul Han (Wednesday 28 April)

  - #{bib.fullcite('han_2017')} [[PDF](https://nyu.box.com/v/han-shanzai-deconstruction)]

  #### Meeting 13: Mind, Body and Self I: The Self in the Virtual World (Wednesday 5 May)
  
  - J\. David Velleman, “Virtual Selves”, in *Foundations for Moral Relativism*, Open Book Publishers, Cambridge, 2nd Ed, 2015, pp. 5-21. [[PDF](https://nyu.box.com/v/velleman-virtual-selves)]
  - C\. Thi Nguyen, “Games and the Art of Agency”, in *The Philosophical Review*, Vol. 128, No. 4, October 2019, pp. 423–462. [[PDF](https://nyu.box.com/v/nguyen-games-agency)]

  #### Meeting 14: Mind, Body and Self II: The Virtual Self in the World (Wednesday 12 May)
  
  - Thomas Metzinger, “Out of the Body and into the Mind: Body Image, Out-of-Body Experiences, and the Virtual Self”, in *The Ego Tunnel: The Science of Mind and the Myth of the Self*, Basic Books, New York, 2009, pp. 75-114. [[PDF](https://nyu.box.com/v/metzinger-out-of-body)]
  - C\. Thi Nguyen, “Gamification and Value Capture”, in *Games: Agency As Art*, Oxford University Press, Oxford, 2020, pp. 289-215. [[PDF](https://nyu.box.com/v/nguyen-gamification)]
  
  *Updated*: 9 January 2021