Title: Brad Weslake &bull; What is Philosophy?
Categories: teaching/2021
Template: class
Summary: A methodologically oriented introduction to philosophy.

- bib = Nesta::Plugin::Maldini::Bibliography.new('content/attachments/central-problems.bib')

%heading
  %h1 What is Philosophy?

:markdown

  ## Spring 2021

  <p align="center"><img src="https://s3.amazonaws.com/bweslake/images/godot.png" alt="Samuel Beckett, from Waiting for Godot"></p>
  <blockquote class="caption">Samuel Beckett, <em>Waiting for Godot</em>, Grove, NY, 1954, p. 13.</blockquote>

  ### Details

  <table class="names">
  <thead>
  <tr><th>Course Code</th><th>Location</th><th> Times</th></tr>
  </thead>
  <tbody>
  <tr><td>PHIL-SHU 101</td><td>Online</td><td>Mondays and Wednesdays, 1:15pm–2:30pm</td></tr>
  </tbody>
  </table>

  ### Instructor

  <table class="names">
  <thead>
  <tr><th>Name</th><th>Email</th><th>Office</th><th>Consultation Times</th></tr>
  </thead>
  <tbody>
  <tr><td>Brad Weslake</td><td><a href="mailto:brad.weslake@nyu.edu">brad.weslake@nyu.edu</a></td><td>1555 Century Avenue, Room 961</td><td>By appointment.</td></tr>
  </tbody>
  </table>

  ### Overview
  This course is a methodologically oriented introduction to philosophy through the study of selected central problems. Our approach will be historical, comparative and interdisciplinary.

  ### Objectives
  The aim of this course is for students to significantly improve their capacity to:
  
  * Extract, explain and evaluate the arguments contained in philosophical texts.
  * Understand the central arguments and theories contained in the assigned readings.
  * Understand different ways in which the nature and methods of philosophy have been conceived.
  * Apply multiple philosophical methods to a single question.
  * Constructively participate in philosophical discussion.
  * Write clear, concise, and well organised philosophical essays.

  ### Assessment

  <p>Requirements:</p>
  <ul class="assess">
  <li>Three 6&ndash;8 page papers.</li>
  <li>Attendance and participation.</li>
  </ul>

  <p>The final grade will be determined approximately as follows:</p>
  <table class="assess">
  <tbody>
  <tr><td>First Paper (Monday 15 March): </td><td>20% </td><td>[<a href="">PDF</a>]</td></tr>
  <tr><td>Second Paper (Monday 19 April): </td><td>30% </td><td>[<a href="">PDF</a>]</td></tr>
  <tr><td>Third Paper (Wednesday 12 May): </td><td>40% </td><td>[<a href="">PDF</a>]</td></tr>
  <tr><td>Attendance and participation: </td><td>10% </td></tr>
  </tbody>
  </table>

  ### Policies

  #### Attendance and Lateness

  Students are required to attend all classes on time. An explanation for every absence or late attendance must be submitted in writing. Every failure to attend class on time will count against the component of the final grade awarded for attendance and participation, unless an explanation is received and approved. Requests for exceptions will be considered on a case by case basis, and typically granted only when related to an illness or other unforeseeable change of circumstances. Students who have been excessively absent will be considered to have unofficially withdrawn and will be given a final grade of F.

  #### Integrity

  It is a condition on passing this course that students read and adhere to the NYU Shanghai policy on academic integrity as described in the current [NYU Shanghai Academic Bulletin](https://shanghai.nyu.edu/academics/curriculum/bulletin).

  ### Schedule

  #### Meeting 1: What is Philosophy? (Monday 25 January)

  - #{bib.fullcite('hadot_1995a')} [[PDF](https://nyu.box.com/v/hadot-philosophy-way-of-life)]

  ### Section I: Scepticism

  #### Meeting 2: Descartes I (Wednesday 27 January)

  - #{bib.fullcite('descartes_1996')}. First and Second Meditation, pp. 17–23. [[PDF](https://nyu.box.com/v/descartes-meditations-1-2)]

  #### Meeting 3: Descartes II (Monday 1 February)

  - #{bib.fullcite('stroud_1984b')}. [[PDF](https://nyu.box.com/v/stroud-problem-external-world)]

  #### Meeting 4: Vasubandhu I (Wednesday 3 February)
  
  - Vasubandhu, c400, *Viṃśatikākārikā* and *Viṃśatikāvṛtti*. Translated by Anacker, Stefan. 2005. *Seven Works of Vasubandhu: The Buddhist Psychological Doctor*, Motilal Banarsidass, Delhi, pp. 161-179. [[PDF](https://nyu.box.com/v/vasubandhu-twenty-verses)]
  
  #### Meeting 5: Vasubandhu II (Monday 8 February)
  
  - #{bib.fullcite('mills_2017b')}. [[PDF](https://nyu.box.com/v/mills-skepticism-vasubandhu)]
  
  #### Meeting 6: Method I: Comparative Philosophy (Wednesday 10 February)

  - #{bib.fullcite('siderits_2017')}. [[PDF](https://nyu.box.com/v/siderits-comparison-confluence)]
  
  #### Spring Festival: 11–19 February

  #### Meeting 7: (Monday 22 February)
  
  #### Meeting 8: (Wednesday 24 February)

  #### Meeting 9: (Monday 1 March)

  #### Meeting 10: (Wednesday 3 March)

  #### Meeting 11: (Monday 8 March)

  #### Meeting 12: (Wednesday 10 March)

  #### Meeting 13: (Monday 15 March)

  #### Meeting 14: (Wednesday 17 March)

  #### Meeting 15: (Monday 22 March)

  #### Meeting 16:  (Wednesday 24 March)

  #### Meeting 17:  (Monday 29 March)

  #### Meeting 18:  (Wednesday 31 March)

  #### Qingming: 5–7 April

  #### Meeting 19:  (Monday 12 April)

  #### Meeting 20:  (Wednesday 14 April)

  #### Meeting 21:  (Monday 19 April)

  #### Meeting 22:  (Wednesday 21 April)

  #### Meeting 23:  (Sunday 25 April)

  #### Meeting 24:  (Monday 26 April)

  #### Meeting 25:  (Wednesday 28 April)

  #### China Labor Day: 3 May

  #### Meeting 26:  (Wednesday 5 May)

  #### Meeting 27:  (Monday 10 May)

  #### Meeting 28:  (Wednesday 12 May)
  
  *Updated*: 1 February 2021