Title: Brad Weslake &bull; What is Philosophy?
Categories: teaching/2021
Template: class
Summary: A methodologically oriented introduction to philosophy.

- bib = Nesta::Plugin::Maldini::Bibliography.new('content/attachments/central-problems.bib')

%heading
  %h1 What is Philosophy?

:markdown

  ## Spring 2021

  <p align="center"><img src="https://s3.amazonaws.com/bweslake/images/godot.png" alt="Samuel Beckett, from Waiting for Godot"></p>
  <blockquote class="caption">Samuel Beckett, <em>Waiting for Godot</em>, Grove, NY, 1954, p. 13.</blockquote>

  ### Details

  <table class="names">
  <thead>
  <tr><th>Course Code</th><th>Location</th><th> Times</th></tr>
  </thead>
  <tbody>
  <tr><td>PHIL-SHU 101</td><td>Online</td><td>Mondays and Wednesdays, 1:15pm–2:30pm</td></tr>
  </tbody>
  </table>

  ### Instructor

  <table class="names">
  <thead>
  <tr><th>Name</th><th>Email</th><th>Office</th><th>Consultation Times</th></tr>
  </thead>
  <tbody>
  <tr><td>Brad Weslake</td><td><a href="mailto:brad.weslake@nyu.edu">brad.weslake@nyu.edu</a></td><td>1555 Century Avenue, Room 961</td><td>By appointment.</td></tr>
  </tbody>
  </table>

  ### Overview
  This course is a methodologically oriented introduction to philosophy through the study of selected central problems. Our approach will be historical, comparative and interdisciplinary.

  ### Objectives
  The aim of this course is for students to significantly improve their capacity to:
  
  * Extract, explain and evaluate the arguments contained in philosophical texts.
  * Understand the central arguments and theories contained in the assigned readings.
  * Understand different ways in which the nature and methods of philosophy have been conceived.
  * Apply multiple philosophical methods to a single question.
  * Constructively participate in philosophical discussion.
  * Write clear, concise, and well organised philosophical essays.

  ### Assessment

  <p>Requirements:</p>
  <ul class="assess">
  <li>Three 6&ndash;8 page papers.</li>
  <li>Attendance and participation.</li>
  </ul>

  <p>The final grade will be determined approximately as follows:</p>
  <table class="assess">
  <tbody>
  <tr><td>First Paper (Wednesday 17 March): </td><td>20% </td><td>[<a href="https://bweslake.s3.amazonaws.com/teaching/2021/what-is-philosophy/paper1.pdf">PDF</a>]</td></tr>
  <tr><td>Second Paper (Monday 19 April): </td><td>30% </td><td>[<a href="https://s3.amazonaws.com/bweslake/teaching/2021/what-is-philosophy/paper2.pdf">PDF</a>]</td></tr>
  <tr><td>Third Paper (Wednesday 12 May): </td><td>40% </td><td>[PDF]</td></tr>
  <tr><td>Attendance and participation: </td><td>10% </td></tr>
  </tbody>
  </table>

  ### Policies

  #### Attendance and Lateness

  Students are required to attend all classes on time. An explanation for every absence or late attendance must be submitted in writing. Every failure to attend class on time will count against the component of the final grade awarded for attendance and participation, unless an explanation is received and approved. Requests for exceptions will be considered on a case by case basis, and typically granted only when related to an illness or other unforeseeable change of circumstances. Students who have been excessively absent will be considered to have unofficially withdrawn and will be given a final grade of F.

  #### Integrity

  It is a condition on passing this course that students read and adhere to the NYU Shanghai policy on academic integrity as described in the current [NYU Shanghai Academic Bulletin](https://shanghai.nyu.edu/academics/curriculum/bulletin).

  ### Schedule

  #### Meeting 1: What is Philosophy? (Monday 25 January)

  - #{bib.fullcite('hadot_1995a')} [[PDF](https://nyu.box.com/v/hadot-philosophy-way-of-life)]

  ### Section I: Scepticism

  #### Meeting 2: Descartes I (Wednesday 27 January)

  - #{bib.fullcite('descartes_1996')}. First and Second Meditation, pp. 17–23. [[PDF](https://nyu.box.com/v/descartes-meditations-1-2)]

  #### Meeting 3: Descartes II (Monday 1 February)

  - #{bib.fullcite('stroud_1984b')}. [[PDF](https://nyu.box.com/v/stroud-problem-external-world)]

  #### Meeting 4: Vasubandhu I (Wednesday 3 February)
  
  - Vasubandhu, c400, *Viṃśatikākārikā* and *Viṃśatikāvṛtti*. Translated by Anacker, Stefan. 2005. *Seven Works of Vasubandhu: The Buddhist Psychological Doctor*, Motilal Banarsidass, Delhi, pp. 161-179. [[PDF](https://nyu.box.com/v/vasubandhu-twenty-verses)]
  
  #### Meeting 5: Vasubandhu II (Monday 8 February)
  
  - #{bib.fullcite('mills_2017b')}. [[PDF](https://nyu.box.com/v/mills-skepticism-vasubandhu)]
  
  #### Meeting 6: Method I: Comparative Philosophy (Wednesday 10 February)

  - #{bib.fullcite('siderits_2017')}. [[PDF](https://nyu.box.com/v/siderits-comparison-confluence)]
  
  #### Spring Festival: 11–19 February

  ### Section II: Freedom

  #### Meeting 7: First-Order Compatibilism (Monday 22 February)
  
  - #{bib.fullcite('ayer_1954a')}. [[PDF](https://nyu.box.com/v/ayer-freedom-necessity)]
  - #{bib.fullcite('hume_2007')}, Chapter 8, “Of Liberty and Necessity”. [[PDF](https://nyu.box.com/v/hume-liberty-necessity)]
  
  #### Meeting 8: Second-Order Compatibilism I (Wednesday 24 February)
  
  - #{bib.fullcite('frankfurt_1971')}. [[PDF](https://nyu.box.com/v/frankfurt-will-person)]
  - #{bib.fullcite('wolf_1987')}. [[PDF](https://nyu.box.com/v/wolf-sanity-responsibility)]

  #### Meeting 9: Second-Order Compatibilism II (Monday 1 March)

  - Zhuangzi, c350BC, “The Secret of Caring for Life”, in #{bib.fullcite('watson_2013')}, pp. 19-21. [[PDF](https://nyu.box.com/v/zhuangzi-secret-caring)]
  - #{bib.fullcite('velleman_2008')}. [[PDF](https://nyu.box.com/v/velleman-way-wanton)]

  #### Meeting 10: Incompatibilism I (Wednesday 3 March)

  - #{bib.fullcite('inwagen_1975')}. [[PDF](https://nyu.box.com/v/inwagen-incompatibility)]
  - #{bib.fullcite('lewis_1981b')}. [[PDF](https://nyu.box.com/v/lewis-free-break-laws)]

  #### Meeting 11: Incompatibilism II (Monday 8 March)

  - #{bib.fullcite('pereboom_2001')}, pp. 110-117. [[PDF](https://nyu.box.com/v/pereboom-living-without)]
  - #{bib.fullcite('vihvelin_2013')}, pp. 148-155. [[PDF](https://nyu.box.com/v/vihvelin-manipulation)]

  #### Meeting 12: Method II: Experimental Philosophy (Wednesday 10 March)

  - #{bib.fullcite('sommers_2010')}. [[PDF](https://nyu.box.com/v/sommers-experiment-free-will)]
  - #{bib.fullcite('sripada_2012')}. [[PDF](https://nyu.box.com/v/sripada-manipulation-unfree)]

  ### Section III: Virtue

  #### Meeting 13: Aristotle I (Monday 15 March)

  - Aristotle, c330BC, *Nicomachean Ethics*, Book I. Translated by Roger Crisp. 2000. Cambridge University Press, Cambridge, pp. 3–22. [[PDF](https://nyu.box.com/v/aristotle-ethics-i)]

  #### Meeting 14: Aristotle II (Wednesday 17 March)

  - Aristotle, c330BC, *Nicomachean Ethics*, Book II. Translated by Roger Crisp. 2000. Cambridge University Press, Cambridge, pp. 23–36. [[PDF](https://nyu.box.com/v/aristotle-ethics-ii)]

  #### Meeting 15: Virtue and Reason (Monday 22 March)

  - #{bib.fullcite('mcdowell_1979')}. [[PDF](https://nyu.box.com/v/mcdowell-virtue-reason)]

  #### Meeting 16: Xunzi (Wednesday 24 March)

  - Xunzi, c300BC, Chapters 1-2, 23. Translated by Eric L. Hutton, 2014. *Xunzi: The Complete Text*, Princeton University Press, Princeton, pp. 1–15, 248-257. [[PDF](https://nyu.box.com/v/xunzi-selections)]

  #### Meeting 17: Situationism (Monday 29 March)

  - #{bib.fullcite('doris_1998')}. [[PDF](https://nyu.box.com/v/doris-persons-situations)]

  #### Meeting 18: Xunzi and Situationism (Wednesday 31 March)

  - #{bib.fullcite('mower_2013')}. [[PDF](https://nyu.box.com/v/mower-situationism-confucian)]  

  #### Qingming: 5–7 April

  ### Section IV: Property

  #### Meeting 19: Locke (Monday 12 April)

  #{bib.fullcite('locke_2003')}, Chapter V, “Of Property“, pp. 111–121. [[PDF](https://nyu.box.com/v/locke-of-property)]  

  #### Meeting 20: Locke and Capitalism I (Wednesday 14 April)

  #{bib.fullcite('macpherson_1951')}. [[PDF](https://nyu.box.com/v/macpherson-locke-appropriation)]  

  #### Meeting 21: Locke and Capitalism II (Monday 19 April)

  #{bib.fullcite('ryan_1965')}. [[PDF](https://nyu.box.com/v/ryan-locke-dictatorship)]  

  #### Meeting 22: Locke and Colonialism I (Wednesday 21 April)

  #{bib.fullcite('arneil_1996a')}. [[PDF](https://nyu.box.com/v/arneil-locke-venison)]  

  #### Meeting 23: Locke and Colonialism II (Sunday 25 April)

  #{bib.fullcite('goldie_2016')}. [[PDF](https://nyu.box.com/v/goldie-locke-america)]  

  #### Meeting 24: Locke and Marx (Monday 26 April)

  #{bib.fullcite('cohen_1985b')}. [[PDF](https://nyu.box.com/v/cohen-marx-locke-land-labour)]  

  #### Meeting 25: Method III: History of Philosophy (Wednesday 28 April)

  #{bib.fullcite('skinner_1969')}. [[PDF](https://nyu.box.com/v/skinner-meaning-understanding)]  

  #### China Labor Day: 3 May

  #### Meeting 26:  (Wednesday 5 May)

  #### Meeting 27:  (Monday 10 May)

  #### Meeting 28:  (Wednesday 12 May)
  
  #{bib.fullcite('smith_2016')}. [[PDF](https://nyu.box.com/v/smith-money-love)] 
  
  *Updated*: 10 April 2021